@(descr: controllers.modules.bots.BotDescriptor, result: Any)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.modules.instagram.bots.commonResultWrapper(descr, result) { res: scala.collection.mutable.ListBuffer[Map[String, String]] =>
  <div>
    <h4>@Messages("module.instagram.bots.bot.statsBot1.velocityFollowers")</h4>
    <figure style="height: 300px;" id="statsBotChartSubscribersVelocity"></figure>
    <h4>@Messages("module.instagram.bots.bot.statsBot1.subscribers")</h4>
    <figure style="height: 300px;" id="statsBotChartFollowers"></figure>
    <h4>@Messages("module.instagram.bots.bot.statsBot1.followers")</h4>
    <figure style="height: 300px;" id="statsBotChartSubscribers"></figure>
    <h4>@Messages("module.instagram.bots.bot.statsBot1.mediacount")</h4>
    <figure style="height: 300px;" id="statsBotChartMediaCounts"></figure>
  </div>
}

@result match {
  case controllers.modules.bots.ResultCurrent(result) => {
  	@result match {
  	  case map: Map[String, Any] => {
  	  	@map("result") match {
  	  	  case res: scala.collection.mutable.ListBuffer[Map[String, String]] => {
<script>
  $(function() { 
	  var data = [{
	   "xScale": "linear",
	   "yScale": "linear",
	   "xMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValueX(res),
	   "xMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValueX(res),
	   "yMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValueVelocity("subscribers", res),
	   "yMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValueVelocity("subscribers", res),
	   "type": "line",
	   "main": [{
	       "className": ".caseStatsBotChartDataSubscribersVelocity",
	       "data": @Html(controllers.modules.instagram.bots.StatsBot1Descr.buildGraphicDataVelocityForLine("subscribers", res))
	    }]
	  }, {
	   "xScale": "linear",
	   "yScale": "linear",
	   "xMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValueX(res),
	   "xMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValueX(res),
	   "yMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValue("followers", res),
	   "yMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValue("followers", res),
	   "type": "line",
	   "main": [{
	       "className": ".caseStatsBotChartDataFollowers",
	       "data": @Html(controllers.modules.instagram.bots.StatsBot1Descr.buildGraphicDataForLine("followers", res))
	    }]
	  }, {
	   "xScale": "linear",
	   "yScale": "linear",
	   "xMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValueX(res),
	   "xMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValueX(res),
	   "yMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValue("subscribers", res),
	   "yMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValue("subscribers", res),
	   "type": "line",
	   "main": [{
	       "className": ".caseStatsBotChartDataSubscribers",
	       "data": @Html(controllers.modules.instagram.bots.StatsBot1Descr.buildGraphicDataForLine("subscribers", res))
	    }]
	  }, {
	   "xScale": "linear",
	   "yScale": "linear",
	   "xMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValueX(res),
	   "xMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValueX(res),
	   "yMin": @controllers.modules.instagram.bots.StatsBot1Descr.minValue("media_count", res),
	   "yMax": @controllers.modules.instagram.bots.StatsBot1Descr.maxValue("media_count", res),
	   "type": "line",
	   "main": [{
	       "className": ".caseStatsBotChartDataMediaCounts",
	       "data": @Html(controllers.modules.instagram.bots.StatsBot1Descr.buildGraphicDataForLine("media_count", res))
	    }]
	  }];
	  var opts = {
	    "axisPaddingTop": 10,
	  };
	  new xChart('line', data[0], '#statsBotChartSubscribersVelocity', opts);
	  new xChart('line', data[1], '#statsBotChartFollowers', opts);
	  new xChart('line', data[2], '#statsBotChartSubscribers', opts);
	  new xChart('line', data[3], '#statsBotChartMediaCounts', opts);
  });
</script>
  	  	  }
  	  	  case _ => {}
  	  	}
  	  }
  	  case _ => {}
  	}
  }
  case _ => {}
} 
