@(inForm: Form[_])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(utils.horizontalFormFieldConstructor.f) }
@views.html.utils.page1compiled12row(Array("module.settings.name", "module.settings.base")) {
  @helper.form(action = controllers.modules.routes.Settings.baseSave,  'role -> "form", 'class -> "form-horizontal") {
  @helper.inputText(inForm("projectName"), 'class-> "form-control", '_label -> Messages("module.settings.base.project_name"), '_help -> "")
  @helper.textarea(inForm("projectDescr"), 'class-> "form-control", '_label -> Messages("module.settings.base.project_descr"), '_help -> Messages("module.settings.base.project_descr.descr"))
  <div class="form-group">
    <label for="base_set_timezone" class="col-lg-2 control-label">@Messages("module.settings.base.timezone")</label>
    <div class="col-lg-10">
      @views.html.utils.datetimeSelect(inForm.forField("timezone") { field => field.value.getOrElse("") }, "base_set_timezone", "timezone")
      <span class="help-block">@Messages("module.settings.base.timezone.descr")</span>
    </div>
  </div>
  @helper.checkbox(inForm("loginIsVisible"), 'class-> "form-control", '_label -> Messages("module.settings.base.loginIsVisible"), '_help -> "")
  @helper.checkbox(inForm("registerIsActive"), 'class-> "form-control", '_label -> Messages("module.settings.base.registerIsActive"), '_help -> "")
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
     <button type="submit" class="btn btn-primary">@Messages("module.settings.base.save_changes")</button>
    </div>
  </div>
  }
}

<script>
  $(function($) {
    $('#base_set_timezone').select2();
  });
</script>
