@(inForm: Form[_])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(utils.verticalFormFieldConstructor.f) }

@utils.page1compiled12row(Array("module.users.name", "module.users.create")) {
	
  @helper.form(action = controllers.modules.routes.Users.createProcess(),  'role -> "form") {
  	@helper.inputText(inForm("name"), 'class-> "form-control", '_label -> Messages("form.register.name"), '_help -> "", 'style -> "width:220px")
  	@helper.inputText(inForm("surname"), 'class-> "form-control", '_label -> Messages("form.register.surname"), '_help -> "", 'style -> "width:220px")
  	@helper.inputText(inForm("email"), 'class-> "form-control", '_label -> Messages("form.register.email"), '_help -> "", 'style -> "width:220px")
    @helper.inputPassword(inForm("password"), 'class-> "form-control", '_label -> Messages("form.register.pass"), 'style -> "width:220px")
    <p><button type="submit">@Messages("form.register.submit")</button></p>
  }	
  
}