@(users: List[models.User])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(localUser <- users) {
<tr>
  <td>
    <img width="50" height="50" src="@localUser.getAvatarLink" alt="">
    <a href="@controllers.modules.routes.Users.profile(localUser.id)" class="user-link">@views.html.utils.userViewedName(localUser) {&nbsp;}</a>
    <span class="user-subhead">@Messages("permissions." + localUser.permission.name)</span>
  </td>
  <td>@Datetime.dtsFromUTCDate(localUser.timezone, localUser.registered)</td>
  <td class="text-left">
    @localUser.userStatus match {
      case User.USER_STATUS_ONLINE => { 
        <span class="label label-success">@Messages("module.users.user.user_status.online")</span> 
      }
      case User.USER_STATUS_OFFLINE => {  
        <span class="label label-primary">@Messages("module.users.user.user_status.offline")</span>
      }
    }
  </td>
  <td class="text-left">
    @localUser.accountStatus match {
      case User.ACCOUNT_STATUS_ENABLED => { 
        <span class="label label-success">@Messages("module.users.user.account_status.enabled")</span> 
      }
      case User.ACCOUNT_STATUS_DISABLED => {  
        <span class="label label-primary">@Messages("module.users.user.account_status.disabled")</span>
      }
      case User.ACCOUNT_STATUS_WAIT_FOR_ACTIVATION => {
      	<span class="label label-primary">@Messages("module.users.user.account_status.wait_for_activation")</span>
      }
    } 
  </td>  
  <td class="text-left">
    @localUser.userType match {
      case User.USER_TYPE_NORMAL => { 
        <span class="label label-success">@Messages("module.users.user.user_type.normal")</span> 
      }
      case User.USER_TYPE_SUBSCRIBER => {  
        <span class="label label-primary">@Messages("module.users.user.user_type.subscriber")</span>
      }
      case User.USER_TYPE_CLIENT => {  
        <span class="label label-warning">@Messages("module.users.user.user_type.client")</span>
      }
    } 
  </td>
  <td class="text-left"><a href="@controllers.modules.routes.Users.profile(localUser.id)">@localUser.email</a></td>
  <td style="width: 15%;">
    @views.html.utils.button1(controllers.modules.routes.Users.remove(localUser.id), "danger", "fa-trash-o")
  </td>
</tr>
}


