@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.utils.page2compiled12row(Array("module.users.name", "module.users.list")) { } {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.routes.javascript.Users.page
  )
  <div class="table-responsive" id="table_users">
  <table class="table user-list">
    <thead>
      <tr>
        <th><span>@Messages("module.users.user")</span></th>
        <th><span>@Messages("module.users.user.created")</span></th>
        <th><span>@Messages("module.users.user.user_status")</span></th>
        <th><span>@Messages("module.users.user.account_status")</span></th>
        <th><span>@Messages("module.users.user.user_type")</span></th>
        <th><span>@Messages("module.users.user.email")</span></th>
        <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="pagination_nav_users"></div>
}

<script>
  $(function() {
    function uploadUsersPage(page_number) {
      jsRoutes.controllers.modules.Users.page(page_number, "").ajax({
        success: function(data) {
          $('#table_users > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.users.page.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_users').bootpag({
      total: @User.pagesCount(),
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadUsersPage(num);
    });

    uploadUsersPage(1);

  });
</script>
