@(viewedUser: User)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div class="col-lg-9 col-md-8 col-sm-8">
  <div class="main-box clearfix">
    <div class="tabs-wrapper profile-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-newsfeed" data-toggle="tab">Newsfeed</a></li>
        <li><a href="#tab-activity" data-toggle="tab">Activity</a></li>
        <li><a href="#tab-friends" data-toggle="tab">Friends</a></li>
        <li><a href="#tab-chat" data-toggle="tab">Chat</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab-newsfeed">
          <div id="newsfeed">
            <div class="story">
              <div class="story-user">
                <a href="#"><img src="img/samples/robert-300.jpg" alt=""/></a>
              </div>
              <div class="story-content">
                <header class="story-header">
                  <div class="story-author">
                    <a href="#" class="story-author-link">Robert Downey Jr.</a>posted a status update
                  </div>
                  <div class="story-time">
                    <i class="fa fa-clock-o"></i> just now
                  </div>
                </header>
                <div class="story-inner-content">
                  Now that we know who you are, I know who I am. I'm not a mistake!
                  It all makes sense! In a comic, you know how you can tell who the
                  arch-villain's going to be? He's the exact opposite of the hero.
                  And most times they're friends, like you and me! I should've known
                  way back when... You know why, David? Because of the kids.
                  They called me Mr Glass.
                </div>
                <footer class="story-footer">
                  <a href="#" class="story-comments-link"><i class="fa fa-comment fa-lg"></i> 8320 Comments</a>
                  <a href="#" class="story-likes-link"><i class="fa fa-heart fa-lg"></i> 82k Likes</a>
                </footer>
              </div>
            </div>
            <div class="story">
              <div class="story-user">
                <a href="#">
                <img src="img/samples/angelina-300.jpg" alt=""/>
                </a>
              </div>
              <div class="story-content">
                <header class="story-header">
                  <div class="story-author">
                    <a href="#" class="story-author-link">
                    Angelina Jolie
                    </a>
                    checked in at <a href="#">Place du Casino</a>
                  </div>
                  <div class="story-time">
                    <i class="fa fa-clock-o"></i> 3 Minutes ago
                  </div>
                </header>
                <div class="story-inner-content">
                  <div id="map-apple" class="map-content"></div>
                </div>
                <footer class="story-footer">
                  <a href="#" class="story-comments-link">
                  <i class="fa fa-comment fa-lg"></i> 23k Comments
                  </a>
                  <a href="#" class="story-likes-link">
                  <i class="fa fa-heart fa-lg"></i> 159k Likes
                  </a>
                </footer>
              </div>
            </div>
            <div class="story">
              <div class="story-user">
                <a href="#">
                <img src="img/samples/ryan-300.jpg" alt=""/>
                </a>
              </div>
              <div class="story-content">
                <header class="story-header">
                  <div class="story-author">
                    <a href="#" class="story-author-link">
                    Ryan Gossling
                    </a>
                    uploaded 5 new photos to album <a href="#">Bora Bora</a>
                  </div>
                  <div class="story-time">
                    <i class="fa fa-clock-o"></i> 8 Hours ago
                  </div>
                </header>
                <div class="story-inner-content">
                  <div class="story-images clearfix">
                    <a href="img/samples/tahiti-1.jpg" class="story-image-link">
                    <img src="img/samples/tahiti-1.jpg" alt="" class="img-responsive"/>
                    </a>
                    <a href="img/samples/tahiti-2.jpg" class="story-image-link story-image-link-small">
                    <img src="img/samples/tahiti-2.jpg" alt="" class="img-responsive"/>
                    </a>
                    <a href="img/samples/tahiti-3.jpg" class="story-image-link story-image-link-small">
                    <img src="img/samples/tahiti-3.jpg" alt="" class="img-responsive"/>
                    </a>
                    <a href="img/samples/tahiti-3.jpg" class="story-image-link story-image-link-small">
                    <img src="img/samples/tahiti-3.jpg" alt="" class="img-responsive"/>
                    </a>
                    <a href="img/samples/tahiti-2.jpg" class="story-image-link story-image-link-small hidden-xs">
                    <img src="img/samples/tahiti-2.jpg" alt="" class="img-responsive"/>
                    </a>
                  </div>
                </div>
                <footer class="story-footer">
                  <a href="#" class="story-comments-link">
                  <i class="fa fa-comment fa-lg"></i> 46 Comments
                  </a>
                  <a href="#" class="story-likes-link">
                  <i class="fa fa-heart fa-lg"></i> 823 Likes
                  </a>
                </footer>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-activity">
          <div class="table-responsive">
            <table class="table">
              <tbody>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-comment"></i>
                  </td>
                  <td>
                    Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-truck"></i>
                  </td>
                  <td>
                    Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>
                    to <span class="label label-success">Completed</span>
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-check"></i>
                  </td>
                  <td>
                    Scarlett Johansson posted a comment in <a href="#">Lost in Translation opening scene</a> discussion.
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-users"></i>
                  </td>
                  <td>
                    Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-heart"></i>
                  </td>
                  <td>
                    Scarlett Johansson changed order status from <span class="label label-warning">On Hold</span>
                    to <span class="label label-danger">Disabled</span>
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-check"></i>
                  </td>
                  <td>
                    Scarlett Johansson posted a comment in <a href="#">Lost in Translation opening scene</a> discussion.
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-truck"></i>
                  </td>
                  <td>
                    Scarlett Johansson changed order status from <span class="label label-primary">Pending</span>
                    to <span class="label label-success">Completed</span>
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <i class="fa fa-users"></i>
                  </td>
                  <td>
                    Scarlett Johansson posted a comment in <a href="#">Avengers Initiative</a> project.
                  </td>
                  <td>
                    2014/08/08 12:08
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="tab-pane clearfix fade" id="tab-friends">
          <ul class="widget-users row">
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/scarlet.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Scarlett Johansson</a>
                </div>
                <div class="time">
                  <i class="fa fa-clock-o"></i> Last online: 5 minutes ago
                </div>
                <div class="type">
                  <span class="label label-danger">Admin</span>
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/kunis.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Mila Kunis</a>
                </div>
                <div class="time online">
                  <i class="fa fa-check-circle"></i> Online
                </div>
                <div class="type">
                  <span class="label label-warning">Pending</span>
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/ryan.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Ryan Gossling</a>
                </div>
                <div class="time online">
                  <i class="fa fa-check-circle"></i> Online
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/robert.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Robert Downey Jr.</a>
                </div>
                <div class="time">
                  <i class="fa fa-clock-o"></i> Last online: Thursday
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/emma.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Emma Watson</a>
                </div>
                <div class="time">
                  <i class="fa fa-clock-o"></i> Last online: 1 week ago
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/george.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">George Clooney</a>
                </div>
                <div class="time">
                  <i class="fa fa-clock-o"></i> Last online: 1 month ago
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/kunis.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Mila Kunis</a>
                </div>
                <div class="time online">
                  <i class="fa fa-check-circle"></i> Online
                </div>
                <div class="type">
                  <span class="label label-warning">Pending</span>
                </div>
              </div>
            </li>
            <li class="col-md-6">
              <div class="img">
                <img src="img/samples/ryan.png" alt=""/>
              </div>
              <div class="details">
                <div class="name">
                  <a href="#">Ryan Gossling</a>
                </div>
                <div class="time online">
                  <i class="fa fa-check-circle"></i> Online
                </div>
              </div>
            </li>
          </ul>
          <br/>
          <a href="#" class="btn btn-success pull-right">View all users</a>
        </div>
        <div class="tab-pane fade" id="tab-chat">
          <div class="conversation-wrapper">
            <div class="conversation-content">
              <div class="conversation-inner">
                <div class="conversation-item item-left clearfix">
                  <div class="conversation-user">
                    <img src="img/samples/ryan.png" alt=""/>
                  </div>
                  <div class="conversation-body">
                    <div class="name">
                      Ryan Gossling
                    </div>
                    <div class="time hidden-xs">
                      September 21, 2013 18:28
                    </div>
                    <div class="text">
                      I don't think they tried to market it to the billionaire, spelunking,
                      base-jumping crowd.
                    </div>
                  </div>
                </div>
                <div class="conversation-item item-right clearfix">
                  <div class="conversation-user">
                    <img src="img/samples/kunis.png" alt=""/>
                  </div>
                  <div class="conversation-body">
                    <div class="name">
                      Mila Kunis
                    </div>
                    <div class="time hidden-xs">
                      September 21, 2013 12:45
                    </div>
                    <div class="text">
                      Normally, both your asses would be dead as fucking fried chicken, but you
                      happen to pull this shit while I'm in a transitional period so I don't wanna
                      kill you, I wanna help you.
                    </div>
                  </div>
                </div>
                <div class="conversation-item item-right clearfix">
                  <div class="conversation-user">
                    <img src="img/samples/kunis.png" alt=""/>
                  </div>
                  <div class="conversation-body">
                    <div class="name">
                      Mila Kunis
                    </div>
                    <div class="time hidden-xs">
                      September 21, 2013 12:45
                    </div>
                    <div class="text">
                      Normally, both your asses would be dead as fucking fried chicken, but you
                      happen to pull this shit while I'm in a transitional period so I don't wanna
                      kill you, I wanna help you.
                    </div>
                  </div>
                </div>
                <div class="conversation-item item-left clearfix">
                  <div class="conversation-user">
                    <img src="img/samples/ryan.png" alt=""/>
                  </div>
                  <div class="conversation-body">
                    <div class="name">
                      Ryan Gossling
                    </div>
                    <div class="time hidden-xs">
                      September 21, 2013 18:28
                    </div>
                    <div class="text">
                      I don't think they tried to market it to the billionaire, spelunking,
                      base-jumping crowd.
                    </div>
                  </div>
                </div>
                <div class="conversation-item item-right clearfix">
                  <div class="conversation-user">
                    <img src="img/samples/kunis.png" alt=""/>
                  </div>
                  <div class="conversation-body">
                    <div class="name">
                      Mila Kunis
                    </div>
                    <div class="time hidden-xs">
                      September 21, 2013 12:45
                    </div>
                    <div class="text">
                      Normally, both your asses would be dead as fucking fried chicken, but you
                      happen to pull this shit while I'm in a transitional period so I don't wanna
                      kill you, I wanna help you.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="conversation-new-message">
              <form>
                <div class="form-group">
                  <textarea class="form-control" rows="2" placeholder="Enter your message..."></textarea>
                </div>
                <div class="clearfix">
                  <button type="submit" class="btn btn-success pull-right">Send message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>