@(viewedUser: User)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div class="col-lg-3 col-md-4 col-sm-4">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix">
      <h2>@views.html.utils.userViewedName(viewedUser) { }</h2>
    </header>
    <div class="main-box-body clearfix">
      <div class="profile-status">
        @viewedUser.userStatus match {
          case User.USER_STATUS_ONLINE => {
            <i class="fa fa-circle"></i> @Messages("module.users.user.user_status.online")
          }
          case User.USER_STATUS_OFFLINE => {
            <i class="fa fa-circle-o"></i> @Messages("module.users.user.user_status.offline")
          }
        }
      </div>
      <img src="@viewedUser.getAvatarLink" class="profile-img img-responsive center-block" width="150px" height="150px"/>
      <div class="profile-label">
        <span class="label label-danger">@Messages("permissions." + viewedUser.permission.name)</span>
      </div>
      <div class="profile-stars">
      </div>
      <div class="profile-since">
        @Messages("module.users.user.profile.member_since") @Datetime.dtsFromUTCDate(user.timezone, viewedUser.registered)
      </div>
      <div class="profile-details">
        <ul class="fa-ul">
          <li><i class="fa-li fa fa-file-text-o"></i>@Messages("module.users.user.pages") 
            <span>@Content.count("owner_id" -> viewedUser.id.toString, "kind" -> Content.KIND_PAGE)</span>
          </li>
          <li><i class="fa-li fa fa-picture-o"></i>@Messages("module.users.user.mediafiles") 
            <span>@Content.count("owner_id" -> viewedUser.id.toString, "kind" -> Content.KIND_ATTACHMENT)</span>
          </li>
        </ul>
      </div>
      <div class="profile-message-btn center-block text-center">
        <a href="#" class="btn btn-success">
          <i class="fa fa-envelope"></i>
          Send message
        </a>
      </div>
    </div>
  </div>
</div>