@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("portfolio") {
<div class="row">
  <div class="col-sm-12 titlebar">
    <h2>Some of our best works</h2>
    <p>We enjoy creating awesome designs for cool people</p>
  </div>
</div>
@themes.keno_landing.sections.utils.portfolioList(
	("themes/keno_landing/img/portfolio/image-1.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-1.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	),
	("themes/keno_landing/img/portfolio/image-2.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-2.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	),
	("themes/keno_landing/img/portfolio/image-3.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-3.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	),
	("themes/keno_landing/img/portfolio/image-4.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-4.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	),
	("themes/keno_landing/img/portfolio/image-5.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-5.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	),
	("themes/keno_landing/img/portfolio/image-6.jpg", 
	 "themes/keno_landing/img/portfolio/gallery_2x/image-6.jpg",
	 "Enter Title Here",
	 "Enter Subtitle Here"
	)
)
}