@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("about") {
<div class="row">
  <div class="col-sm-12 titlebar">
    <h2>Some Words About Us</h2>
    <p>We had experience in the design and development</p>
  </div>
</div>
<div id="our-philosophy" class="row">
  <div class="col-md-7">
    <h3>Our working philosophy</h3>
    <h4>"Vivamus non tortor convallis in faucibus ultrices posuere cubilia"</h4>
    <p>Аромат, он словно одежда. 
    А встречают именно по ней. Хороший парфюм он как дорогой костюм, не только придает значимости, но и делает нас более уверенными. 
    Однако, ходить в одном и том же, как минимум «мувитон». А парфюмом мы зачастую пользуемся одним и тем же. 
    И не по тому что он и только он может раскрыть наш образ, а потому, что ценны на качественный аромат, мягко говоря «кусаются». 
    Не каждый может позволить себе ежедневно наслаждаться новым ароматом. Вот и выходит как в старой попсовой песни: «Ты узнаешь ее по запаху….».
    </p>
    <p>Духи на распив – вот универсальное средство решения подобных проблем.
    </p>
    <p>Aenean eu leo pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cum sociis natoque</p>
  </div>
  <div class="col-md-5">
    <img class="img-responsive" src="@routes.Assets.at("themes/keno_landing/img/thumbs/philosophy.png")" alt="philosophy_image" />
  </div>
</div>
<div class="row">
  <div id="accordion-holder" class="col-md-6">
    <h3>Духи на распив – это разумная экономия:</h3>
    @themes.keno_landing.sections.utils.featureServiceItemList(
    	    ("100% Responsive Layout", "Купив несколько парфюмов на распив можно позволить менять ароматы в зависимости от событий и настроения."),
    	    ("Clean & Modern Design", "Духи на распив это 100% способ проверить аромат на совместимость  с Вашими мироощущениями, без лишних затрат."),
    	    ("Free Premium Support", "3. Минипак позволяет всегда носить парфюм с собой.")
    	    )
  </div>
  <div id="tabs-holder" class="col-md-6">
    <h3>Why Choose Us?</h3>
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#tab_1" role="tab" data-toggle="tab">First Tab</a></li>
      <li><a href="#tab_2" role="tab" data-toggle="tab">Second Tab</a></li>
      <li><a href="#tab_3" role="tab" data-toggle="tab">Third Tab</a></li>
    </ul>
    <div class="tab-content">
      <div  id="tab_1" class="tab-pane active">
        <p>Pellentesque sapien purus, sagittis eu accumsan convallis, vehicula ut lectus. Fusce accumsan purus pretium ligula vehicula, ut interdum nisl vulputate.
          Vivamus ultrices luctus quam eu feugiat. Nunc sagittis odio eget odio laoreet mollis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p>Nullam rutrum blandit convallis. Maecenas id nisi eget nunc convallis consectetur nec sed nibh. Mauris in gravida.
          Aliquam varius fringilla imperdiet. Etiam mollis est sit amet risus congue aliquam
        </p>
      </div>
      <div  id="tab_2" class="tab-pane">
        <p>Nullam rutrum blandit convallis. Maecenas id nisi eget nunc convallis consectetur nec sed nibh. Mauris in gravida.
          Aliquam varius fringilla imperdiet. Etiam mollis est sit amet risus congue aliquam. Cum sociis natoque 
          penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
        <p>Pellentesque sapien purus, sagittis eu accumsan convallis, vehicula ut lectus. Fusce accumsan purus pretium ligula vehicula, ut interdum nisl vulputate.
          Vivamus ultrices luctus quam eu feugiat. Susce accumsan purus pretium ligula vehicula, ut interdum nisl vulputate.									   
        </p>
      </div>
      <div id="tab_3" class="tab-pane">
        <p>Aenean blandit non nulla at sodales. Sed ut nisi eu dui accumsan mollis in ac velit. Quisque erat diam, sodales vitae arcu ac, consequat consequat nibh
          Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
        </p>
        <p>Pellentesque sapien purus, sagittis eu accumsan convallis, vehicula ut lectus. Fusce accumsan purus pretium ligula vehicula, ut interdum nisl vulputate.
          Vivamus ultrices luctus quam eu feugiat. Nunc sagittis odio eget odio laoreet mollis luctus quam eu feugiat eget
        </p>
      </div>
    </div>
  </div>
</div>
}