@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("pricing") {
<div class="row">
  <div class="col-sm-12 titlebar">
    <h2>Our packages & pricing</h2>
    <p>Vestibulum laoreet bibendum ullamcorper hendrerit tellus</p>
  </div>
</div>
<div id="pricing-table-holder" class="row">
  <div id="price_1" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="pricing-table text-center">
      <div class="price-header">
        <h4 class="plan-title">Basic</h4>
        <div  class="plan-price">
          <h2>$10.99</h2>
          <span>per month</span>
        </div>
      </div>
      <ul class="features">
        <li>Up to 5 Projects</li>
        <li>5 GB of Storage</li>
        <li>Up to 100 Users</li>
        <li>10 GB Bandwidth</li>
        <li>Security Suite</li>
      </ul>
      <div class="price-footer">
        <a class="btn btn-theme" href="#">Select Plan</a>
      </div>
    </div>
  </div>
  <div id="price_2" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="pricing-table text-center">
      <div class="price-header">
        <h4 class="plan-title">Standard</h4>
        <div  class="plan-price">
          <h2>$19.99</h2>
          <span>per month</span>
        </div>
      </div>
      <ul class="features">
        <li>Up to 10 Projects</li>
        <li>10 GB of Storage</li>
        <li>Up to 250 Users</li>
        <li>25 GB Bandwidth</li>
        <li>Security Suite</li>
      </ul>
      <div class="price-footer">
        <a class="btn btn-theme" href="#">Select Plan</a>
      </div>
    </div>
  </div>
  <div id="price_3" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="pricing-table featured text-center">
      <div class="price-header">
        <h4 class="plan-title">Advanced</h4>
        <div  class="plan-price">
          <h2>$29.99</h2>
          <span>per month</span>
        </div>
      </div>
      <ul class="features">
        <li>Unlimited Projects</li>
        <li>50 GB of Storage</li>
        <li>Up to 1000 Users</li>
        <li>100 GB Bandwidth</li>
        <li>Security Suite</li>
      </ul>
      <div class="price-footer">
        <a class="btn btn-theme" href="#">Select Plan</a>
      </div>
    </div>
  </div>
  <div id="price_4" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="pricing-table text-center">
      <!-- Table Header & Plan Price  -->
      <div class="price-header">
        <h4 class="plan-title">Ultimate</h4>
        <div  class="plan-price">
          <h2>$99.99</h2>
          <span>per month</span>
        </div>
      </div>
      <ul class="features">
        <li>Unlimited Projects</li>
        <li>150 GB of Storage</li>
        <li>Unlimited</li>
        <li>500 GB Bandwidth</li>
        <li>Security Suite</li>
      </ul>
      <div class="price-footer">
        <a class="btn btn-theme" href="#">Select Plan</a>
      </div>
    </div>
  </div>
</div>
}