@(inForm: Form[controllers.modules.keno_landing.ClientInfo])(implicit flash: Flash, lang: Lang, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(themes.keno_landing.subscriberFormFieldConstructor.f) }

@themes.keno_landing.sections.section("intro") {
<div class="row">
  <div id="intro_description" class="col-md-7">
    <h2>Montale - 500 рублей</h2>
    <h3>Элитные духи на разлив</h3>
    <p class="intro_paragraph">
      Насладитесь любимым ароматом не опустошая кошелек. Мини парфюм навсегда решает проблему доступности элитной парфюмерии. Духи на розлив альтернатива громоздким и дорогим флаконам:     
    </p>
    @themes.keno_landing.sections.utils.introList("Вы будете пахнуть дорого", "Сможете чаще менять запахи и удивлять окружиющих", "Вам будут доступны ароматы, которые вы не могли себе позволить раньше")
  </div>
  <div id="intro_form" class="col-md-5 form_register text-center">
    <form role="form" action="@controllers.modules.keno_landing.routes.KenoLanding.submitClient" method="POST" name="contactform" class="row">
      <h4>Sign up to find out more!</h4>
      @helper.inputText(inForm("name"),  'class-> "form-control", 'placeholder -> Messages("module.keno_landing.top.subscribe.name"))
      @helper.inputText(inForm("email"), 'class-> "form-control", 'placeholder -> Messages("module.keno_landing.top.subscribe.email"))
      @helper.inputText(inForm("phone"), 'class-> "form-control", 'placeholder -> Messages("module.keno_landing.top.subscribe.phone"))
      <p></p>
      <div id="form_register_btn" class="text-center">
        <input class="btn btn-theme" type="submit" value="Register Now" id="submit">
      </div>
    </form>
  </div>
</div>
}
