@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("faq") {
<div class="row">
  <div class="col-md-12 titlebar">
    <h2>Отзывы</h2>
  </div>
</div>
<div class="row">
  <div id="question_1" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Елена (27 лет)</h4>
      <p>Я давно хотела купить себе Montale Vanille Absolu, но долго думала, не выброшу ли я зря деньги (а цены на них не маленькие) и подойдут ли они мне. Вот решилась и купила 5 мл. и что могу сказать: «абсолют ванили» полностью отвечает своему названию, ваниль действительно является преобладающим ароматом, и на первоначальном этапе использования тяжело уловить какие-либо другие нотки. Однако я на себе ощутила, что  все парфюмы знаменитого Пьера Монталя, обладают чудодейственными свойствами: возможностью проявлять себя спустя какое-то время. Если в теплом помещении духи исключительно сладковато-терпкая ваниль, то на свежем воздух, они вдруг проявятся древесные ноты, в которых вы уловите чувственность корицы и нежность гвоздики. Вообще я не пожалела. Что купила их.
      </p>
    </div>
  </div>
  <div id="question_2" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Светлана (31 лет)</h4>
      <p>Я специально заказала Montale Vanille Absolu в мини-паке чтобы хорошо распробовать и разносить их на коже в спокойной обстановке. Думаю, что Vanille Absolu – один из самых спокойных ароматов Монталя. Ваниль в нем практически несладкая, она словно воздушная – с островов, омываемых прохладными солоноватыми волнами. Древесных и пряных нот я не почувствовала. Аромат садится очень близко к коже и, по сравнению с другими духами Монталя, имеет почему-то короткий шлейф. Спустя 7-9 часов, оставляет на коже легкую, чуть сладковатую вуаль. 
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div id="question_3" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Анна (29 лет</h4>
      <p>Покупаю «отливантик» уже второй раз. Обожаю этот запах – просто нечто. Кстати он мне единственный с Montale нравится. Открывается при разной температуре по-разному вначале ты просто чествуешь себя заморской ванильной сладостью, а через часик второй понимаешь что в этом казалось бы простом аромате десятки и сотни подароматов. Кстати, девочки, мужчинам очень нравится.
      </p>
    </div>
  </div>
  <div id="question_4" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Юлия (25 год)</h4>
      <p>Запах просто супер! Но мне кажется, что он не повседневный. Лично я предпочитаю его наносить,  когда собираюсь на вечеринку или на свидание. На работу было раз пришла «под» Montale Vanille Absolu, так коллега мой, с которым в одном кабинете сижу, целый день мне комплементы делал и пытался отгадать чем же это  так «вкусно» пахну. Итог трудовой процесс испорчен, а мое убеждение в том, что этот аромат благоприятно действует на представителей сильного пола – подтвержден.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div id="question_5" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Aliquam dapibus interdum turpis, lobortis?</h4>
      <p>Praesent semper, lacus sed cursus porta, odio augue feugiat eros, ac tincidunt ligula massa in est. 
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
      </p>
    </div>
  </div>
  <div id="question_6" class="col-md-6 triggerAnimation animated" data-animate="bounceIn">
    <div class="question">
      <h4>Aliquam interdum, lobortis pretium ornare erat?</h4>
      <p>Praesent semper, lacus sed cursus porta, odio augue feugiat eros. Vestibulum ante ipsum primis in faucibus orci luctus et 
        ultrices posuere cubilia Curae; Integer congue leo metus, mollis lorem viverra.
      </p>
    </div>
  </div>
</div>
}