@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("team") {
<div class="row">
  <div class="col-sm-12 titlebar">
    <h2>Our tal<span>e</span>nted team</h2>
    <p>Аромат Montale Vanille Absolu просто обожают</p>
  </div>
</div>
<div id="team-member-holder" class="row">
  <div id="team-1" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="team-member">
      <div class="img-block">
        <img class="img-responsive img-thumbnail" src="@routes.Assets.at("themes/keno_landing/img/thumbs/team-1.jpg")" alt="member_foto" >
      </div>
      <div class="team-img-meta">
        <h4>Мила Кунис</h4>
        <h5>Founder</h5>
        <p>Maecenas suscipit eros vel, imperdiet velit adipiscing</p>
      </div>
      <div class="team-socials">
        <ul class="team-member-socials clearfix">
          <li><a class="page_social ico_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="page_social ico_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="page_social ico_google_plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="page_social ico_behance" href="#"><i class="fa fa-behance"></i></a></li>
          <!--	
            <li><a class="page_social ico_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>								
            <li><a class="page_social ico_digg" href="#"><i class="fa fa-digg"></i></a></li>
            <li><a class="page_social ico_deviantart" href="#"><i class="fa fa-deviantart"></i></a></li>
            <li><a class="page_social ico_envelope" href="#"><i class="fa fa-envelope-square"></i></a></li>							
            <li><a class="page_social ico_delicious" href="#"><i class="fa fa-delicious"></i></a></li>								
            <li><a class="page_social ico_dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="page_social ico_instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="page_social ico_pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
            <li><a class="page_social ico_dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
            <li><a class="page_social ico_skype" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="page_social ico_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="page_social ico_tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a class="page_social ico_vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a class="page_social ico_flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="page_social ico_github" href="#"><i class="fa fa-github-alt"></i></a></li>
            <li><a class="page_social ico_renren" href="#"><i class="fa fa-renren"></i></a></li>
            <li><a class="page_social ico_vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="page_social ico_xing" href="#"><i class="fa fa-xing"></i></a></li>
            <li><a class="page_social ico_weibo" href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a class="page_social ico_rss" href="#"><i class="fa fa-rss"></i></a></li>									
            -->		
        </ul>
      </div>
    </div>
  </div>
  <div id="team-2" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="team-member">
      <div class="img-block">
        <img class="img-responsive img-thumbnail" src="@routes.Assets.at("themes/keno_landing/img/thumbs/team-2.jpg")" alt="member_foto" >	
      </div>
      <div class="team-img-meta">
        <h4>Моника Белуччи</h4>
        <h5>Manager</h5>
        <p>Maecenas suscipit eros vel, imperdiet adipiscing</p>
      </div>
      <div class="team-socials">
        <ul class="team-member-socials clearfix">
          <li><a class="page_social ico_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="page_social ico_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="page_social ico_google_plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="page_social ico_behance" href="#"><i class="fa fa-behance"></i></a></li>
          <!--	
            <li><a class="page_social ico_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>								
            <li><a class="page_social ico_digg" href="#"><i class="fa fa-digg"></i></a></li>
            <li><a class="page_social ico_deviantart" href="#"><i class="fa fa-deviantart"></i></a></li>
            <li><a class="page_social ico_envelope" href="#"><i class="fa fa-envelope-square"></i></a></li>							
            <li><a class="page_social ico_delicious" href="#"><i class="fa fa-delicious"></i></a></li>								
            <li><a class="page_social ico_dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="page_social ico_instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="page_social ico_pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
            <li><a class="page_social ico_dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
            <li><a class="page_social ico_skype" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="page_social ico_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="page_social ico_tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a class="page_social ico_vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a class="page_social ico_flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="page_social ico_github" href="#"><i class="fa fa-github-alt"></i></a></li>
            <li><a class="page_social ico_renren" href="#"><i class="fa fa-renren"></i></a></li>
            <li><a class="page_social ico_vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="page_social ico_xing" href="#"><i class="fa fa-xing"></i></a></li>
            <li><a class="page_social ico_weibo" href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a class="page_social ico_rss" href="#"><i class="fa fa-rss"></i></a></li>									
            -->		
        </ul>
      </div>
    </div>
  </div>
  <div id="team-3" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="team-member">
      <!-- Team Member Photo  -->	
      <div class="img-block">
        <img class="img-responsive img-thumbnail" src="@routes.Assets.at("themes/keno_landing/img/thumbs/team-3.jpg")" alt="member_foto" >
      </div>
      <!-- Team Member Meta  -->		
      <div class="team-img-meta">
        <h4>Кира Найтли</h4>
        <h5>Designer</h5>
        <p>Maecenas suscipit eros imperdiet velit adipiscing</p>
      </div>
      <div class="team-socials">
        <ul class="team-member-socials clearfix">
          <li><a class="page_social ico_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="page_social ico_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="page_social ico_google_plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="page_social ico_behance" href="#"><i class="fa fa-behance"></i></a></li>
          <!--	
            <li><a class="page_social ico_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>								
            <li><a class="page_social ico_digg" href="#"><i class="fa fa-digg"></i></a></li>
            <li><a class="page_social ico_deviantart" href="#"><i class="fa fa-deviantart"></i></a></li>
            <li><a class="page_social ico_envelope" href="#"><i class="fa fa-envelope-square"></i></a></li>							
            <li><a class="page_social ico_delicious" href="#"><i class="fa fa-delicious"></i></a></li>								
            <li><a class="page_social ico_dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="page_social ico_instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="page_social ico_pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
            <li><a class="page_social ico_dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
            <li><a class="page_social ico_skype" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="page_social ico_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="page_social ico_tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a class="page_social ico_vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a class="page_social ico_flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="page_social ico_github" href="#"><i class="fa fa-github-alt"></i></a></li>
            <li><a class="page_social ico_renren" href="#"><i class="fa fa-renren"></i></a></li>
            <li><a class="page_social ico_vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="page_social ico_xing" href="#"><i class="fa fa-xing"></i></a></li>
            <li><a class="page_social ico_weibo" href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a class="page_social ico_rss" href="#"><i class="fa fa-rss"></i></a></li>									
            -->		
        </ul>
      </div>
    </div>
  </div>
  <div id="team-4" class="col-xs-6 col-sm-6 col-md-3 triggerAnimation animated" data-animate="flipInY">
    <div class="team-member">
      <div class="img-block">
        <img class="img-responsive img-thumbnail" src="@routes.Assets.at("themes/keno_landing/img/thumbs/team-4.jpg")" alt="member_foto" >
      </div>
      <div class="team-img-meta">
        <h4>Науми Уотс</h4>
        <h5>Programmer</h5>
        <p>Suscipit eros vel, imperdiet velit adipiscing ipsum dolor</p>
      </div>
      <div class="team-socials">
        <ul class="team-member-socials clearfix">
          <li><a class="page_social ico_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="page_social ico_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="page_social ico_google_plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="page_social ico_behance" href="#"><i class="fa fa-behance"></i></a></li>
          <!--	
            <li><a class="page_social ico_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>								
            <li><a class="page_social ico_digg" href="#"><i class="fa fa-digg"></i></a></li>
            <li><a class="page_social ico_deviantart" href="#"><i class="fa fa-deviantart"></i></a></li>
            <li><a class="page_social ico_envelope" href="#"><i class="fa fa-envelope-square"></i></a></li>							
            <li><a class="page_social ico_delicious" href="#"><i class="fa fa-delicious"></i></a></li>								
            <li><a class="page_social ico_dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="page_social ico_instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="page_social ico_pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
            <li><a class="page_social ico_dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
            <li><a class="page_social ico_skype" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="page_social ico_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="page_social ico_tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a class="page_social ico_vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a class="page_social ico_flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="page_social ico_github" href="#"><i class="fa fa-github-alt"></i></a></li>
            <li><a class="page_social ico_renren" href="#"><i class="fa fa-renren"></i></a></li>
            <li><a class="page_social ico_vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="page_social ico_xing" href="#"><i class="fa fa-xing"></i></a></li>
            <li><a class="page_social ico_weibo" href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a class="page_social ico_rss" href="#"><i class="fa fa-rss"></i></a></li>									
            -->		
        </ul>
      </div>
    </div>
  </div>
</div>
}