@(inForm: Form[controllers.modules.keno_landing.SubscriberInfo])(implicit flash: Flash, lang: Lang, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(themes.keno_landing.clientFormFieldConstructor.f) }

@themes.keno_landing.sections.section("newsletter") {
<div class="row">
  <div class="col-sm-12 titlebar triggerAnimation animated" data-animate="fadeInDown">
    <h2>Узайте больше</h2>
    <p>Узнайте первыми о новых духах на разлив</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12 text-center triggerAnimation animated" data-animate="fadeInUp">
    <div class="message"></div>
    <form id="newsletter_form" role="form" action="@controllers.modules.keno_landing.routes.KenoLanding.submitSubscriber" method="POST">
      <div id="newsletterfields">
        @helper.inputText(inForm("email"), 'id -> "s_email", 'type -> "email", 'placeholder -> Messages("module.keno_landing.top.subscribe.email"))
        <input type="submit" value="Notify Me">
      </div>
    </form>
  </div>
</div>
}
