@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("clients") {
<div id="clients-titlebar" class="row">
  <div class="col-sm-12 ">
    <div class="titlebar">
      <h2>Горячее предложение на духи Montale</h2>
      <p>Успейте заказать до 15:</p>
      <div class="customNavigation">
        <a class="prev btn btn-theme"><i class="fa fa-angle-left"></i></a>
        <a class="next btn btn-theme"><i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div id="clients-holder" class="row">
  <div class="col-md-12">
    <div id="our-customers" class="owl-carousel">
      <div id="client-logo-1" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-1.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-2" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-2.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-3" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-3.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-4" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-4.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-5" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-5.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-6" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-6.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-7" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-7.jpg")" alt="customer_image">
      </div>
      <div id="client-logo-8" class="item">
        <img class="img-responsive img-customer" src="@routes.Assets.at("themes/keno_landing/img/thumbs/client-8.jpg")" alt="customer_image">
      </div>
    </div>
  </div>
</div>
}