@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("video") {
<div class="row">
  <div id="video_title" class="col-md-12 text-center triggerAnimation animated clearfix" data-animate="bounceIn">
    <h2>Watch amazing features of the <span>Keno</span> in action</h2>
    <p>You can embed vimeo video or youtube video here for your product demo that builds user trust</p>
  </div>
</div>
<div class="row">
  <div id="video_holder" class="col-md-10 col-md-offset-1">
    <div class="safari_browser triggerAnimation animated" data-animate="fadeInUp">
      <img class="img-responsive" src="@routes.Assets.at("themes/keno_landing/img/thumbs/safari_browser.jpg")" alt="feature_three_img">
    </div>
    <div class="video-block triggerAnimation animated" data-animate="fadeInUp">													
      <iframe src="http://player.vimeo.com/video/69988283" width="370" height="250"></iframe>	
    </div>
  </div>
</div>
}