@()(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.sections.section("features") {
<div class="row">
  <div class="col-sm-12 titlebar">
    <h2>Преимущества духов на разлив</h2>
    <p>Следующее</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-rocket"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Экономия</h5>
      <p>Цена упаковки духов на разлив почти в 10 раз дешевле чем от производителя.</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-cogs"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>100% настощие духи</h5>
      <p>Вы не покупаете подделку. Вы просто покупаете меньший объем. Поэтому нет смысла подделывать духи.</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-bars"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Вы не выкидываете деньги</h5>
      <p>По статистике около 80 процентов женьщин используют в среднем 15мл упаковки духов. Поэтому покупая 50мл вы выкидываете более половины стоимости! Духи на разли сэкономят ваши деньги</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-trophy"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Разнообразие запахов</h5>
      <p>Духи больше не наскучат и вы постоянно будете удивлять себя и окружающих. Ведь теперь вы сможете вместо одной упаковки купить 10 за ту же цену.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-wrench"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Доступность элитной парфюмерии</h5>
      <p>Покупая духи на разлив вы сможете себе позволить духи, которые не смогли бы позволить раньше!</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-heart"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Удобная компактная упаковка</h5>
      <p>Мы производим разлив духов в портативные атоме 3,5,10 мл, которые легко поместятся в любую сумочку.</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-book"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Мы лучшие на этом рынке.</h5>
      <p>На нашем счету множество  наград и сертификатов.</p>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-3 feature-box triggerAnimation animated clearfix" data-animate="bounceIn">
    <div class="feature-box-icon text-center">
      <i class="fa fa-life-ring"></i>
    </div>
    <div class="feature-box-content text-center">
      <h5>Индивидуальный подход к каждому клиенту</h5>
      <p>Мы вместе с вами подберем оптимальный для вас способ предоставления наших услуг.</p>
    </div>
  </div>
</div>
}