@(activePage: String)(content: Html)(implicit flash: Flash, lang: Lang, user: models.User)

@import controllers.modules.BaseSettings

@themes.base.main() {
<header id="masthead" class="site-header" role="banner">
  <div class="site-branding">
     <h1 class="site-title"><a href="/" rel="home">@Param.findByName(Param.PARAM_PROJECT_NAME).map(_.value)</a></h1>
     <h2 class="site-description">@Param.findByName(Param.PARAM_PROJECT_DESCRIPTION).map(_.value)</h2>
  </div>
  <nav id="site-navigation" class="main-navigation" role="navigation">
     <h1 class="menu-toggle">@Messages("menu")</h1>
     <a class="skip-link screen-reader-text" href="#content">@Messages("go_to_content")</a>
     <div class="menu-primary-container">
       <ul id="menu-primary" class="semicolon-navigation">
         @for(page <- Content.findPublishedPages) {
           <li class="menu-item menu-item-type-@if(activePage == page.id.toString){custom}else{taxonomy} menu-item-object-@if(activePage == page.id.toString){custom current-menu-item current_page_item}else{taxonomy}">
             <a href="@routes.Pages.show(page.id)">@page.title</a>
           </li>
         }
         @if(BaseSettings.isVisibleLogin) {
         <li class="menu-item menu-item-type-@if(activePage == "login"){custom}else{taxonomy} menu-item-object-@if(activePage == "login"){custom current-menu-item current_page_item}else{taxonomy}">
           <a href="@routes.Application.login">@Messages("login.page")</a>
         </li>
         }
         @if(BaseSettings.isActiveRegister) {
         <li class="menu-item menu-item-type-@if(activePage == "register"){custom}else{taxonomy} menu-item-object-@if(activePage == "register"){custom current-menu-item current_page_item}else{taxonomy}">
           <a href="@routes.Application.register">@Messages("register.page")</a>
         </li>
         }
       </ul>
     </div>
  </nav>
</header>
@content
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    2014&nbsp;&nbsp;Musson
  </div>
</footer>
}
