@()(implicit flash: Flash, lang: Lang, user: models.User)

@defining(Posts.getLastPosts) { lastPosts =>
@if(lastPosts.size > 0) {
<div id="secondary" class="widget-area" role="complementary">
  <div class="sidebar-primary">
    <aside id="recent-posts-2" class="widget widget_recent_entries">		
      <h2 class="widget-title">Свежие записи</h2>		
        <ul>
          @for( post <- lastPosts) {
          <li><a href="@routes.Posts.show(post.id)">@post.title</a></li>	
          }
        </ul>
    </aside>		
  </div>
</div>
}
}