@(pageId: String, title: String)(content: Html)(implicit flash: Flash, lang: Lang, user: models.User)

@themes.base.commonPage(pageId) {
<header class="page-header page-description">
  <h1 class="page-title">@title</h1>
</header>
<div id="content" class="site-content">
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      @content
    </main>
  </div>
  @themes.base.lastPosts()
</div>
}
