@(inForm: Form[_])(implicit flash: Flash, lang: Lang, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(utils.verticalFormFieldConstructor.f) }

@views.html.themes.base.postContentPage("register", Messages("register.page.title")) {
  @helper.form(action = routes.Application.registerProcess, 'role -> "form") {
    @helper.inputText(inForm("email"), 'class-> "form-control", '_label -> Messages("form.register.email"), '_help -> "", 'style -> "width:220px")
    @helper.inputPassword(inForm("password"), 'class-> "form-control", '_label -> Messages("form.register.pass"), 'style -> "width:220px")
    <p><button type="submit">@Messages("form.register.submit")</button></p>
  }
}
