@(call: Call, colorAccent: String, iconName: String)

<a href="@call" class="table-link @colorAccent">
  <span class="fa-stack">
    <i class="fa fa-square fa-stack-2x"></i>
    <i class="fa @iconName fa-stack-1x fa-inverse"></i>
  </span>
</a>

    
