@(selected: String, childs: scala.collection.mutable.Map[String, DatetimeTrait], path: String)
@for((key, value) <- childs) {
@if(value.childs.isEmpty) {
<option value="@if(path.isEmpty()) {@key} else {@path/@key}" @if(path.isEmpty()) {@if(key == selected) {selected}} else {@if(path + "/" + key == selected){selected}}>@key</option>	
} else {
<optgroup label="@key">
  @views.html.utils.datetimeSelectOptionGen(selected, value.childs, if(path.isEmpty()) key else path + "/" + key)
</optgroup>
}
}
