@()(navContent: Html)(tabContent: Html)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader)
<div class="tabs-wrapper">
  <ul class="nav nav-tabs">
    @navContent
  </ul>
  <div class="tab-content">
    @tabContent
  </div>
</div>