@(elements: helper.FieldElements)

<div class="form-group@if(elements.hasErrors){ has-error}@if(elements.input.toString.contains("</select>")){ form-group-select2}">
  <label for="@elements.id">@elements.label</label>
  <div class="input">
    @elements.input
    @if(elements.hasErrors) {
    <span class="help-block">@elements.errors.mkString(", ")</span>
    } else {
    <span class="help-block">@elements.infos.mkString(", ")</span>
    }
  </div>
</div>