@(uid: Long)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.modules.bots.descriptionPage(uid, controllers.modules.instagram.bots.RelationsBot1Descr) {
  <p>
    Relations bot 1 description</p>
  <p>
    <img src="@routes.Assets.at("native/module/bots/relationsBot1/block_schema1.png")" alt="Block cheme">
  </p>	 
}