@(clientForm: Form[controllers.modules.keno_landing.ClientInfo], subscriberForm: Form[controllers.modules.keno_landing.SubscriberInfo])(implicit flash: Flash, lang: Lang, user: models.User)

@themes.keno_landing.commonPage() { 
<div id="preloader">
  <div id="status"></div>
</div>
<header id="header">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Responsive Menu -->
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-menu">
        <span class="sr-only">Toggle navigation</span> 
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="@routes.Assets.at("themes/keno_landing/img/logo.png")" alt="logo" role="banner"></a>
      </div>
      <nav id="navigation-menu" class="collapse navbar-collapse"  role="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><a id="GoToHome" class="selected-nav" href="#intro">Home</a></li>
          <li><a id="GoToFeatures" href="#features">Features</a></li>
          <li><a id="GoToAbout" href="#about">About</a></li>
          <li><a id="GoToTeam" href="#team">Team</a></li>
          <li><a id="GoToPortfolio" href="#portfolio">Portfolio</a></li>
          <li><a id="GoToPricing" href="#pricing">Pricing</a></li>
          <li><a id="GoToFAQ" href="#faq">FAQ</a></li>
          <li><a id="GoToSubscribe" href="#newsletter">Subscribe</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div id="content_wrapper">
  @themes.keno_landing.sections.sectionIntro(clientForm)
  @themes.keno_landing.sections.sectionFeatures()
  @themes.keno_landing.parts.promoBanner()
  @themes.keno_landing.sections.sectionAbout()
  @themes.keno_landing.sections.sectionTeam()
  @themes.keno_landing.sections.sectionPortfolio()
  @themes.keno_landing.parts.callToAction()
  @themes.keno_landing.sections.sectionPricing()
  @themes.keno_landing.sections.sectionVideo()
  @themes.keno_landing.sections.sectionFaq()
  @themes.keno_landing.parts.testimonialsRotator()
  @themes.keno_landing.sections.sectionClients()
  @themes.keno_landing.sections.sectionNewsletter(subscriberForm)
  @themes.keno_landing.parts.footer()
</div>
}
