@(elements: helper.FieldElements)

<div id="input_name" class="col-md-12">
  @elements.input
  @if(elements.hasErrors) {
  <label for="name" generated="true" class="error">@elements.errors.mkString(", ")</label>
  }
</div>
