@(media: List[models.Content])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(file <- media) {
<tr>
  <td style="width: 80px;"><img width="60" height="60" src="@routes.Assets.at(Media.getAttachmentLink(file.id))" alt=""></td>
  <td><a href="@routes.Assets.at(Media.getAttachmentLink(file.id))">@file.title</a></td>
  <td class="text-left"><a href="@controllers.modules.routes.Users.profile(file.ownerId)">@views.html.utils.userViewedName(User.findById(file.ownerId).get) {&nbsp;}</a></td>
  <td class="text-left">@Datetime.dtsFromUTCDate(user.timezone, file.created)</td>
  <td style="width: 15%;">
    @views.html.utils.button1(controllers.modules.routes.Media.remove(file.id), "danger", "fa-trash-o")
  </td>
</tr>
}


