@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.utils.page2compiled12row(Array("module.media.name", "module.media.list")) {
<div class="filter-block pull-right">
  <a href="@controllers.modules.routes.Media.create()" class="btn btn-primary pull-right">
    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;@Messages("module.media.addnew")
  </a>
</div>	 
} {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.routes.javascript.Media.page
  )
  <div class="table-responsive" id="table_media">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>@Messages("module.media.file.title")</th>
        <th>@Messages("module.media.file.owner")</th>
        <th>@Messages("module.media.file.data")</th>
        <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="pagination_nav_media"></div>
}

<script>
  $(function() {
    function uploadMediaPage(page_number) {
      jsRoutes.controllers.modules.Media.page(page_number, "").ajax({
        success: function(data) {
          $('#table_media > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.media.page.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_media').bootpag({
      total: @Content.pagesCount("kind" -> Content.KIND_ATTACHMENT),
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadMediaPage(num);
    });

    uploadMediaPage(1);

  });
</script>
