@(pageForm: Form[models.Content])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(utils.verticalFormFieldConstructor.f) }

@utils.page1compiled12row(Array("module.posts.name", "module.posts.addnew")) {
@helper.form(action = controllers.modules.routes.Posts.save(),  'role -> "form") {	
@helper.inputText(pageForm("title"), 'class-> "form-control", '_label -> Messages("module.posts.post.title"))
@helper.textarea(pageForm("data"), 'class-> "form-control ckeditor", '_label -> Messages("module.posts.post.content"))
<input type="hidden" name="status" id="status" value="@Content.STATE_PUBLISHED">
<button id="submit-post-published" type="submit" class="btn btn-primary">@Messages("module.posts.publish")</button>
<button id="submit-post-draft" type="submit" class="btn btn-default">@Messages("module.posts.saveAsDraft")</button>
}	
}

<script>
  $('#submit-post-published').click(function() {
	$(this).parent().children('#status').val("@Content.STATE_PUBLISHED")
  });
  $('#submit-post-draft').click(function() {
	$(this).parent().children('#status').val("@Content.STATE_DRAFT")
  });
</script>
