@(pageForm: Form[models.Content], id: Long)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@import helper._

@implicitField = @{ FieldConstructor(utils.verticalFormFieldConstructor.f) }

@utils.page1compiled12row(Array("module.posts.name", "module.posts.edit")) {
@helper.form(action = controllers.modules.routes.Posts.update(id),  'role -> "form") {	
@helper.inputText(pageForm("title"), 'class-> "form-control", '_label -> Messages("module.posts.post.title"))
@helper.textarea(pageForm("data"), 'class-> "form-control ckeditor", '_label -> Messages("module.posts.post.content"))
@helper.select(pageForm("status"), options(Map( 
	Content.STATE_PUBLISHED.toString -> Messages("module.posts.post.status.published"), 
	Content.STATE_DRAFT.toString -> Messages("module.posts.post.status.draft"))),
	'_label -> Messages("module.posts.post.status"),
	'id -> "post_status",
	'style -> "width:300px",
	'_help -> ""
	)
<button type="submit" class="btn btn-primary">@Messages("module.posts.update")</button>
}	
}

<script>
  $(function($) {
    $('#post_status').select2({
      minimumResultsForSearch: -1
    });
  });
</script>