@(contents: List[models.Content])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(post <- contents) {
<tr>
  <td><a href="@controllers.routes.Pages.show(post.id)">@post.title</a></td>
  <td class="text-left"><a href="@controllers.modules.routes.Users.profile(post.ownerId)">@views.html.utils.userViewedName(User.findById(post.ownerId).get) {&nbsp;}</a></td>
  <td class="text-center">
    @post.status match {
    	case Some(state) => {
          @state match {
    	    case Content.STATE_DRAFT => { 
    	      <span class="label label-primary">@Messages("module.posts.post.status.draft")</span> 
    	    }
    	    case Content.STATE_PUBLISHED => {  
    	      <span class="label label-success">@Messages("module.posts.post.status.published")</span>
    	    }
    	  }
    	}
    	case None => {
    	  <span class="label label-error">@Messages("module.posts.post.status.error")</span>
        }
    }
  </td>
  <td class="text-left">@Datetime.dtsFromUTCDate(user.timezone, post.created)</td>
  <td style="width: 15%;">
    @views.html.utils.button1(controllers.modules.routes.Posts.edit(post.id), "", "fa-pencil")
    @views.html.utils.button1(controllers.modules.routes.Posts.remove(post.id), "danger", "fa-trash-o")
  </td>
</tr>
}


