@(status: String)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div class="table-responsive" id="table_posts_@status">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("module.posts.post.title")</th>
        <th>@Messages("module.posts.post.author")</th>
        <th class="text-center"><span>@Messages("module.posts.post.status")</span></th>
        <th>@Messages("module.posts.post.data")</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="pagination_nav_posts_@status"></div>