@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.utils.page2compiled12row(Array("module.posts.name", "module.posts.list")) {
<div class="filter-block pull-right">
  <a href="@controllers.modules.routes.Posts.create()" class="btn btn-primary pull-right">
    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;@Messages("module.posts.addnew")
  </a>
</div>
} {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.routes.javascript.Posts.page
  )

  @views.html.utils.tabWrapper() {
    @views.html.utils.tabNav("tab_all_posts", Messages("module.posts.tabs.tab_all_posts"), true)
    @views.html.utils.tabNav("tab_published_posts", Messages("module.posts.tabs.tab_published_posts"), false)
  } {
    @views.html.utils.tabContent("tab_all_posts", true) {
      @views.html.modules.posts.filteredList(models.Content.ALL)
    }
    @views.html.utils.tabContent("tab_published_posts", false) {
      @views.html.modules.posts.filteredList(models.Content.STATE_PUBLISHED)
    }
  }
}

<script>
  $(function() {
    function uploadPostsPage(page_number, tableId, filter) {
      jsRoutes.controllers.modules.Posts.page(page_number, filter).ajax({
        success: function(data) {
          $('#table_posts_' + tableId + ' > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.posts.post.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_posts_@models.Content.ALL').bootpag({
      total: @Content.pagesCount("kind" -> Content.KIND_POST),
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadPostsPage(num, "@models.Content.ALL", "");
    });

    $('#pagination_nav_posts_@models.Content.STATE_PUBLISHED').bootpag({
      total: @Content.pagesCount("kind" -> Content.KIND_POST, "status" -> Content.STATE_PUBLISHED),
      page: 1,
      maxVisible: 10
    }).on('page', function(event, num){
      uploadPostsPage(num, "@models.Content.STATE_PUBLISHED", "status/@models.Content.STATE_PUBLISHED");
    });

    uploadPostsPage(1, "@models.Content.ALL", "");
    uploadPostsPage(1, "@models.Content.STATE_PUBLISHED", "status/@models.Content.STATE_PUBLISHED");

  });
</script>
