@(status: String)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div class="table-responsive" id="table_pages_@status">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>@Messages("module.pages.page.title")</th>
        <th>@Messages("module.pages.page.author")</th>
        <th class="text-center"><span>@Messages("module.pages.page.status")</span></th>
        <th>@Messages("module.pages.page.data")</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div id="pagination_nav_pages_@status"></div>