@(contents: List[models.Content])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(page <- contents) {
<tr>
  <td><a href="@controllers.routes.Pages.show(page.id)">@page.title</a></td>
  <td class="text-left"><a href="@controllers.modules.routes.Users.profile(page.ownerId)">@views.html.utils.userViewedName(User.findById(page.ownerId).get) {&nbsp;}</a></td>
  <td class="text-center">
    @page.status match {
    	case Some(state) => {
          @state match {
    	    case Content.STATE_DRAFT => { 
    	      <span class="label label-primary">@Messages("module.pages.page.status.draft")</span> 
    	    }
    	    case Content.STATE_PUBLISHED => {  
    	      <span class="label label-success">@Messages("module.pages.page.status.published")</span>
    	    }
    	  }
    	}
    	case None => {
    	  <span class="label label-error">@Messages("module.pages.page.status.error")</span>
        }
    }
  </td>
  <td class="text-left">@Datetime.dtsFromUTCDate(user.timezone, page.created)</td>
  <td style="width: 15%;">
    @views.html.utils.button1(controllers.modules.routes.Pages.edit(page.id), "", "fa-pencil")
    @if(!page.role.equals(Content.ROLE_INDEX)) {
      @views.html.utils.button1(controllers.modules.routes.Pages.remove(page.id), "danger", "fa-trash-o")
    }
  </td>
</tr>
}


