@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.utils.page2compiled12row(Array("module.pages.name", "module.pages.list")) {
<div class="filter-block pull-right">
  <a href="@controllers.modules.routes.Pages.create()" class="btn btn-primary pull-right">
    <i class="fa fa-plus-circle fa-lg"></i>&nbsp;@Messages("module.pages.addnew")
  </a>
</div>
} {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.routes.javascript.Pages.page
  )

  @views.html.utils.tabWrapper() {
    @views.html.utils.tabNav("tab_all_pages", Messages("module.pages.tabs.tab_all_pages"), true)
    @views.html.utils.tabNav("tab_published_pages", Messages("module.pages.tabs.tab_published_pages"), false)
  } {
    @views.html.utils.tabContent("tab_all_pages", true) {
      @views.html.modules.pages.filteredList(models.Content.ALL)
    }
    @views.html.utils.tabContent("tab_published_pages", false) {
      @views.html.modules.pages.filteredList(models.Content.STATE_PUBLISHED)
    }
  }
}

<script>
  $(function() {
    function uploadPagesPage(page_number, tableId, filter) {
      jsRoutes.controllers.modules.Pages.page(page_number, filter).ajax({
        success: function(data) {
          $('#table_pages_' + tableId + ' > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.pages.page.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_pages_@models.Content.ALL').bootpag({
      total: @Content.pagesCount("kind" -> Content.KIND_PAGE),
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadPagesPage(num, "@models.Content.ALL", "");
    });

    $('#pagination_nav_pages_@models.Content.STATE_PUBLISHED').bootpag({
      total: @Content.pagesCount("kind" -> Content.KIND_PAGE, "status" -> Content.STATE_PUBLISHED),
      page: 1,
      maxVisible: 10
    }).on('page', function(event, num){
      uploadPagesPage(num, "@models.Content.STATE_PUBLISHED", "status/@models.Content.STATE_PUBLISHED");
    });

    uploadPagesPage(1, "@models.Content.ALL", "");
    uploadPagesPage(1, "@models.Content.STATE_PUBLISHED", "status/@models.Content.STATE_PUBLISHED");

  });
</script>
