@(activeMenu: Array[String], menuName: String, icon: String, submenu: Map[String, Call])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
 
<li@if(activeMenu(0) == menuName) { class="active" }>
  <a href="#" class="dropdown-toggle">
    <i class="fa @icon"></i>
    <span>@Messages(menuName)</span>
    <i class="fa fa-chevron-circle-right drop-icon"></i>
  </a>
  <ul class="submenu">
    @for((menuId, menuCall) <- submenu) {
    <li>
      <a@if(activeMenu.length>1 && activeMenu(1) == menuId) { class="active" } href="@menuCall">@Messages(menuId)</a>
    </li>
    }
 </ul>
</li>
        