@(activeMenu: Array[String], menuName: String, icon: String, call: Call)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
 
<li@if(activeMenu(0) == menuName) { class="active" }>
  <a href="@call">
    <i class="fa @icon"></i>
    <span>@Messages(menuName)</span>
  </a>
</li>
          
        