@(inForm: Form[_])(implicit flash: Flash, lang: Lang, user: models.User) 

@adminCommonPageLight("register-page") {
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="login-box">
        <div class="row">
          <div class="col-xs-12">
            <!-- <header id="login-header">
              <div id="login-logo">
                <img src="img/logo.png" alt=""/>
              </div>
            </header>-->
            <div id="login-box-inner">
              <form role="form" action="@routes.Application.registerProcess" method="POST">
                <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-user"></i></span>
                 <input id="email" name="email" class="form-control" type="text" placeholder="@Messages("form.register.email")">
                </div>
                <div class="input-group">
                 <span class="input-group-addon"><i class="fa fa-key"></i></span>
                 <input id="password" name="password" type="password" class="form-control" placeholder="@Messages("form.register.pass")">
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success col-xs-12">@Messages("form.register.submit")</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}