@()(implicit user: models.User)

<div class="nav-no-collapse pull-right" id="header-nav">
  <ul class="nav navbar-nav pull-right">
    <li class="dropdown profile-dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <img src="@user.getAvatarLink" alt="" />
        <span class="hidden-xs">@views.html.utils.userViewedName(user) {&nbsp;}</span>
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="@controllers.modules.routes.Users.profile(user.id)">
            <i class="fa fa-user"></i>
            @Messages("admin.user.profile")
          </a>
        </li>
        <li>
          <a href="@routes.Application.logout">
            <i class="fa fa-power-off"></i>
            @Messages("admin.user.logout")
          </a>
        </li>
      </ul>
    </li>
    <li class="hidden-xxs">
      <a class="btn" href="@routes.Application.logout">
        <i class="fa fa-power-off"></i>
      </a>
    </li>
  </ul>
</div>