@(activeMenu: Array[String])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User) 
<div id="nav-col">
  <section id="col-left" class="col-left-nano">
    @userLeftPanelBox()
    <div id="col-left-inner" class="col-left-nano-content">
      <div class="collapse navbar-collapse navbar-ex1-collapse" id="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
          @adminColLeftSingleMenuSection(activeMenu, "module.main.name", "fa-dashboard", controllers.modules.routes.Main.show())
          @if(user.permission == Permission.administartor) {		          
          @adminColLeftNestedMenuSection(activeMenu, "module.pages.name", "fa-file-text-o", Map(
          	"module.pages.list" -> controllers.modules.routes.Pages.list(),
          	"module.pages.addnew" -> controllers.modules.routes.Pages.create()))
          @adminColLeftNestedMenuSection(activeMenu, "module.posts.name", "fa-files-o", Map(
          	"module.posts.list" -> controllers.modules.routes.Posts.list(),
          	"module.posts.addnew" -> controllers.modules.routes.Posts.create()))
          @adminColLeftNestedMenuSection(activeMenu, "module.media.name", "fa-picture-o", Map(
          	"module.media.list" -> controllers.modules.routes.Media.list(),
          	"module.media.addnew" -> controllers.modules.routes.Media.create()))
          @adminColLeftNestedMenuSection(activeMenu, "module.users.name", "fa-users", Map(
          	"module.users.list" -> controllers.modules.routes.Users.list(),
          	"module.users.create" -> controllers.modules.routes.Users.create()))
          @adminColLeftNestedMenuSection(activeMenu, "module.instagram.name", "fa-instagram", Map(
          	"module.instagram.users" -> controllers.modules.bots.routes.BotModule.usersList(),
          	"module.instagram.user.bots" -> controllers.modules.bots.routes.BotModule.userBotsList(user.id),
          	"module.instagram.bots" -> controllers.modules.bots.routes.BotModule.botsList(user.id)))
          @adminColLeftNestedMenuSection(activeMenu, "module.settings.name", "fa-cog", Map(
          	"module.settings.base" -> controllers.modules.routes.Settings.base(),
          	"module.settings.media" -> controllers.modules.routes.Settings.media(),
          	"module.settings.includes" -> controllers.modules.routes.Settings.includes()
          	))
	  } else {
          @adminColLeftNestedMenuSection(activeMenu, "module.instagram.name", "fa-instagram", Map(
          	"module.instagram.user.bots" -> controllers.modules.bots.routes.BotModule.userBotsList(user.id),
          	"module.instagram.bots" -> controllers.modules.bots.routes.BotModule.botsList(user.id)))
	  }	
        </ul>
      </div>
    </div>
  </section>
</div>
        
