@(activationCode: models.ActivationCode)(implicit flash: Flash, lang: Lang, user: models.User) 

@adminCommonPageLight("after-register-page") {
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="login-box">
        <div class="row">
          <div class="col-xs-12">
            <!-- <header id="login-header">
              <div id="login-logo">
                <img src="img/logo.png" alt=""/>
              </div>
            </header>-->
            <h4>Your activation code will be expired after 24 hours: @activationCode.code</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}