@()(implicit flash: Flash, lang: Lang, user: models.User)

@if(flash.get("success").isDefined){
<div class="alert alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  @flash.get("success")
</div>
}

@if(flash.get("error").isDefined){
<div class="alert alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  @flash.get("error")
</div>
}
