@(activatedUser: models.User)(implicit flash: Flash, lang: Lang, user: models.User) 

@adminCommonPageLight("register-page") {
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="login-box">
        <div class="row">
          <div class="col-xs-12">
          	<h4>@Messages("account.confirm.success")</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}