@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div id="user-left-box" class="clearfix hidden-sm hidden-xs">
  <img alt src="@user.getAvatarLink">
  <div class="user-box">
    <span class="name">@views.html.utils.userViewedName(user) {<br>}</span>
    <span class="status"><i class="fa fa-circle"></i>@Messages("module.users.user.netstatus." + user.userStatus)</span>
  </div>
</div>
