@import url("//fonts.googleapis.com/css?family=PT+Serif&subset=latin,cyrillic");
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic");
/*
Theme Name: Semicolon
Theme URI:
Author: Konstantin Kovshenin
Author URI: http://kovshenin.com
Description: Quite possibly the cleanest magazine theme for WordPress
Version: 0.8
License: GNU General Public License
License URI: license.txt
Text Domain: semicolon
Domain Path: /languages/
Tags:

Semicolon is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/
/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1,
h2,
h3,
body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title,
.site-title,
.grid .page-title,
.grid article.hentry .entry-title,
.js.grid article.hentry.semicolon-featured .entry-title,
.related-content .related-content-title,
.related-content article .entry-title,
.widget-area .widget-title,
.comments-title,
.comment-meta .comment-author,
#respond #reply-title,
body.wpmag .wpmag-content-newsletter h3, h2, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, .site-title, .grid .page-title, .grid article.hentry .entry-title, .js.grid article.hentry.semicolon-featured .entry-title, .related-content .related-content-title, .related-content article .entry-title, .widget-area .widget-title, .comments-title, .comment-meta .comment-author, #respond #reply-title, body.wpmag .wpmag-content-newsletter h3, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h3.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid article.hentry .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content article .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .widget-area .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs #primary .comment-meta .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs #primary #respond .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs #primary .entry-title#reply-title, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*,
*:before,
*:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box; }

body {
  background: #fff; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover, .grid article.hentry:hover .entry-title a, .js.grid article.hentry.semicolon-featured:hover .entry-title a, .related-content article:hover .entry-title a,
a:active {
  outline: 0; }

a img {
  border: 0; }

/* =Global
----------------------------------------------- */
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

/* Headings */
h1, h2, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, .site-title, .grid .page-title, .grid article.hentry .entry-title, .js.grid article.hentry.semicolon-featured .entry-title, .related-content .related-content-title, .related-content article .entry-title, .widget-area .widget-title, .comments-title, .comment-meta .comment-author, #respond #reply-title, body.wpmag .wpmag-content-newsletter h3, h2, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, .site-title, .grid .page-title, .grid article.hentry .entry-title, .js.grid article.hentry.semicolon-featured .entry-title, .related-content .related-content-title, .related-content article .entry-title, .widget-area .widget-title, .comments-title, .comment-meta .comment-author, #respond #reply-title, body.wpmag .wpmag-content-newsletter h3, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h3.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid article.hentry .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content article .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .widget-area .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs #primary .comment-meta .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs #primary #respond .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs #primary .entry-title#reply-title, h4, h5, h6 {
  clear: both; }

/*hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}*/
/* Text elements */
p {
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  /* background: #eee; */
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

button,
input,
select,
textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
                 /*border: 1px solid #ccc;
border-color: #ccc #ccc #bbb #ccc;
border-radius: 3px;
background: #e6e6e6;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
color: rgba(0, 0, 0, .8);
cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
  /*-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
  /*font-size: 12px;
  font-size: 1.2rem;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);*/ }

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  /*border-color: #ccc #bbb #aaa #bbb;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);*/ }

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  /*border-color: #aaa #bbb #bbb #bbb;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);*/ }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  /*color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;*/ }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  /*color: #111;*/ }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/* Links */
a {
  color: royalblue; }

a:visited {
  color: purple; }

a:hover, .grid article.hentry:hover .entry-title a, .js.grid article.hentry.semicolon-featured:hover .entry-title a, .related-content article:hover .entry-title a,
a:focus,
a:active {
  color: midnightblue; }

/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: '';
  display: table; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/* =Menu
----------------------------------------------- */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

.main-navigation li {
  float: left;
  position: relative; }

.main-navigation a {
  display: block;
  text-decoration: none; }

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  position: absolute;
  top: 1.5em;
  z-index: 99999; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 200px; }

.main-navigation ul li:hover > ul {
  display: block; }

/* Small menu */
.menu-toggle {
  cursor: pointer;
  display: none; }

@media screen and (max-width: 600px) {
  body.js .menu-toggle,
  body.js .main-navigation.toggled .nav-menu {
    display: block; }
  body.js .main-navigation ul {
    display: none; } }
/* =Content
----------------------------------------------- */
.hentry {
  /*margin: 0 0 1.5em;*/ }

.byline,
.updated {
  display: none; }

.single .byline,
.group-blog .byline {
  display: inline; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/* =Asides
----------------------------------------------- */
/*.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}*/
/* =Media
----------------------------------------------- */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  /*border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;*/ }

.wp-caption img[class*="wp-image-"] {
  /*display: block;
  margin: 1.2% auto 0;
  max-width: 98%;*/ }

.wp-caption-text {
  /*text-align: center;*/ }

.wp-caption .wp-caption-text {
  /*margin: 0.8075em 0;*/ }

.site-main .gallery {
  /*margin-bottom: 1.5em;*/ }

.site-main .gallery a img {
  /*border: none;
  height: auto;
  max-width: 90%;*/ }

.site-main .gallery dd {
  /*margin: 0;*/ }

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%; }

/* =Navigation
----------------------------------------------- */
.site-main [class*="navigation"] {
  margin: 0 0 1.5em;
  /*overflow: hidden;*/ }

[class*="navigation"] .nav-previous {
  float: left;
  width: 50%; }

[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* =Comments
----------------------------------------------- */
.comment-content a {
  word-wrap: break-word; }

/* =Widgets
----------------------------------------------- */
.widget {
  /*margin: 0 0 1.5em;*/ }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/* =Infinite Scroll
----------------------------------------------- */
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

body {
  background: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444; }

::selection {
  background: #117bb8;
  color: white; }

h1, h2, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, .site-title, .grid .page-title, .grid article.hentry .entry-title, .js.grid article.hentry.semicolon-featured .entry-title, .related-content .related-content-title, .related-content article .entry-title, .widget-area .widget-title, .comments-title, .comment-meta .comment-author, #respond #reply-title, body.wpmag .wpmag-content-newsletter h3 {
  font-size: 52px;
  line-height: 72px;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-weight: 300;
  margin-top: 24px;
  padding-top: 24px;
  margin-bottom: 24px; }

h2, h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, .site-title, .grid .page-title, .grid article.hentry .entry-title, .js.grid article.hentry.semicolon-featured .entry-title, .related-content .related-content-title, .related-content article .entry-title, .widget-area .widget-title, .comments-title, .comment-meta .comment-author, #respond #reply-title, body.wpmag .wpmag-content-newsletter h3 {
  font-size: 28px;
  line-height: 48px; }

h3, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h3.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid article.hentry .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content article .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .widget-area .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs #primary .comment-meta .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs #primary #respond .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs #primary .entry-title#reply-title {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  /* font size: 16px; */ }

a, a:visited, a:link {
  color: #117bb8;
  text-decoration: underline; }
  a:hover, .grid article.hentry:hover .entry-title a, .js.grid article.hentry.semicolon-featured:hover .entry-title a, .related-content article:hover .entry-title a, a:visited:hover, .grid article.hentry:hover .entry-title a:visited, .js.grid article.hentry.semicolon-featured:hover .entry-title a:visited, .related-content article:hover .entry-title a:visited, a:link:hover, .grid article.hentry:hover .entry-title a:link, .js.grid article.hentry.semicolon-featured:hover .entry-title a:link, .related-content article:hover .entry-title a:link {
    color: #159ae7; }

#page {
  width: 1260px;
  margin: 0 auto;
  /* background: #ccc; */ }

.site-header {
  margin-top: 60px; }

.site-title {
  font-size: 36px;
  margin: 0;
  padding: 0; }

.site-title a {
  color: #3a3a3a;
  text-decoration: none; }

.site-description {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(58, 58, 58, 0.5);
  margin: 0;
  padding: 0;
  font-weight: 400; }

.main-navigation {
  margin-top: 48px;
  margin-bottom: 48px;
  border-top: solid 1px rgba(58, 58, 58, 0.1);
  /* Temporarily disable submenus */ }
  .main-navigation a {
    color: #3a3a3a;
    text-decoration: none;
    margin-top: -1px;
    padding: 0px 20px;
    border-top: solid 4px transparent;
    height: 48px;
    font-size: 16px;
    line-height: 40px; }
  .main-navigation .current_page_item a,
  .main-navigation .current-menu-item a,
  .main-navigation .current-post-ancestor a,
  .main-navigation .current-menu-ancestor a,
  .main-navigation .current-menu-parent a,
  .main-navigation .current-post-parent a {
    border-top-color: #3a3a3a; }
  .main-navigation .sub-menu {
    display: none !important; }

#semicolon-social {
  padding: 0;
  list-style: none;
  float: right;
  margin-right: 12px;
  color: transparent; }
  #semicolon-social li a {
    padding-left: 8px;
    padding-right: 8px;
    line-height: 1; }
  #semicolon-social li:hover {
    background: none; }
  #semicolon-social a span {
    position: absolute;
    top: -9999px;
    left: -9999px; }
  #semicolon-social li a::before {
    color: rgba(58, 58, 58, 0.5);
    font: normal 20px/40px 'Genericons';
    content: '\f408'; }
  #semicolon-social li a:hover::before, #semicolon-social li .grid article.hentry:hover .entry-title a::before, .grid article.hentry:hover .entry-title #semicolon-social li a::before, #semicolon-social li .related-content article:hover .entry-title a::before, .related-content article:hover .entry-title #semicolon-social li a::before {
    color: #3a3a3a; }
  #semicolon-social li a[href*="codepen.io"]::before {
    content: '\f216'; }
  #semicolon-social li a[href*="digg.com"]::before {
    content: '\f221'; }
  #semicolon-social li a[href*="dribbble.com"]::before {
    content: '\f201'; }
  #semicolon-social li a[href*="facebook.com"]::before {
    content: '\f203'; }
  #semicolon-social li a[href*="flickr.com"]::before {
    content: '\f211'; }
  #semicolon-social li a[href*="plus.google.com"]::before {
    content: '\f206'; }
  #semicolon-social li a[href*="github.com"]::before {
    content: '\f200'; }
  #semicolon-social li a[href*="instagram.com"]::before {
    content: '\f215'; }
  #semicolon-social li a[href*="linkedin.com"]::before {
    content: '\f208'; }
  #semicolon-social li a[href*="pinterest.com"]::before {
    content: '\f210'; }
  #semicolon-social li a[href*="polldaddy.com"]::before {
    content: '\f217'; }
  #semicolon-social li a[href*="getpocket.com"]::before {
    content: '\f224'; }
  #semicolon-social li a[href*="reddit.com"]::before {
    content: '\f222'; }
  #semicolon-social li a[href*="skype.com"]::before,
  #semicolon-social li a[href*="skype:"]::before {
    content: '\f220'; }
  #semicolon-social li a[href*="stumbleupon.com"]::before {
    content: '\f223'; }
  #semicolon-social li a[href*="tumblr.com"]::before {
    content: '\f214'; }
  #semicolon-social li a[href*="twitter.com"]::before {
    content: '\f202'; }
  #semicolon-social li a[href*="vimeo.com"]::before {
    content: '\f212'; }
  #semicolon-social li a[href*="wordpress.org"]::before,
  #semicolon-social li a[href*="wordpress.com"]::before {
    content: '\f205'; }
  #semicolon-social li a[href*="youtube.com"]::before {
    content: '\f213'; }
  #semicolon-social li a[href$="/feed/"]::before,
  #semicolon-social li a[href$="/feed"]::before,
  #semicolon-social li a[href$="?feed=rss2"]::before {
    content: '\f413'; }

.page-description {
  margin: 0 0 48px 0;
  padding: 12px 24px;
  background: rgba(58, 58, 58, 0.03); }
  .page-description p {
    margin-bottom: 0;
    margin-top: 24px; }

.entry-title,
.page-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 24px; }

pre {
  background: rgba(58, 58, 58, 0.03); }

hr {
  border-top: solid 1px #ccc;
  border: 0;
  height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.grid .page-title {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 36px; }

.grid article.hentry {
  float: left;
  width: 180px;
  margin-bottom: 48px;
  margin-right: 60px; }
  .grid article.hentry .post-thumbnail {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 12px;
    width: 180px;
    height: 180px;
    background: rgba(58, 58, 58, 0.03);
    text-align: center;
    overflow: hidden; }
    .grid article.hentry .post-thumbnail span {
      display: block;
      width: 1000px;
      margin-left: -410px;
      height: 100%; }
    .grid article.hentry .post-thumbnail img {
      height: 100%;
      width: auto;
      max-width: none;
      display: inline-block; }
  .grid article.hentry .entry-title {
    width: 210px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px; }
    .grid article.hentry .entry-title a {
      color: #3a3a3a;
      text-decoration: none;
      margin-bottom: 12px;
      display: block; }
  .grid article.hentry.semicolon-last {
    margin-right: 0; }

/* Featured images are featured in JS-mode only */
.js.grid article.hentry.semicolon-featured {
  float: left;
  width: 180px;
  margin-bottom: 48px;
  margin-right: 60px;
  width: 420px; }
  .js.grid article.hentry.semicolon-featured .post-thumbnail {
    display: block;
    float: left;
    clear: both;
    margin-bottom: 12px;
    width: 180px;
    height: 180px;
    background: rgba(58, 58, 58, 0.03);
    text-align: center;
    overflow: hidden; }
    .js.grid article.hentry.semicolon-featured .post-thumbnail span {
      display: block;
      width: 1000px;
      margin-left: -410px;
      height: 100%; }
    .js.grid article.hentry.semicolon-featured .post-thumbnail img {
      height: 100%;
      width: auto;
      max-width: none;
      display: inline-block; }
  .js.grid article.hentry.semicolon-featured .entry-title {
    width: 210px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px; }
    .js.grid article.hentry.semicolon-featured .entry-title a {
      color: #3a3a3a;
      text-decoration: none;
      margin-bottom: 12px;
      display: block; }
  .js.grid article.hentry.semicolon-featured.semicolon-last {
    margin-right: 0; }
  .js.grid article.hentry.semicolon-featured .post-thumbnail {
    width: 420px;
    height: 240px; }
    .js.grid article.hentry.semicolon-featured .post-thumbnail span {
      margin-left: -290px; }
  .js.grid article.hentry.semicolon-featured .entry-title {
    width: 450px;
    font-size: 24px;
    line-height: 36px; }

body.no-js {
  /* There's an h3 before the first article in related content, hence +1 */ }
  body.no-js.grid article:nth-child(4n+0),
  body.no-js .related-content article:nth-child(4n+1) {
    margin-right: 0; }
  body.no-js.grid article:nth-child(4n+0) + article,
  body.no-js .related-content article:nth-child(4n+1) + article {
    clear: left; }

.entry-content {
  margin: 0; }
  .entry-content iframe {
    max-width: 940px;
    margin-left: -40px;
    margin-top: 24px;
    margin-bottom: 24px; }
  .entry-content img.size-full,
  .entry-content img.size-large {
    max-width: 940px;
    margin-top: 36px;
    margin-bottom: 36px;
    display: block; }
    .entry-content img.size-full.alignnone,
    .entry-content img.size-large.alignnone {
      margin-left: -40px; }
  .entry-content .wp-caption img.size-full,
  .entry-content .wp-caption img.size-large {
    margin-bottom: 0; }
  .entry-content .wp-caption {
    margin-bottom: 24px;
    max-width: 100%; }
  .entry-content .wp-caption-text {
    margin-top: 12px;
    margin-bottom: 12px;
    display: block; }
  .entry-content .wp-caption.alignnone img.size-full + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-full,
  .entry-content .wp-caption.alignnone img.size-large + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-large {
    margin-left: -40px; }
  .entry-content .gallery {
    margin-left: -60px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px; }
    .entry-content .gallery .gallery-item {
      width: 260px;
      float: left;
      margin-left: 60px; }
      .entry-content .gallery .gallery-item .gallery-icon,
      .entry-content .gallery .gallery-item .gallery-icon a, .entry-content .gallery .gallery-item img, .entry-content .gallery .gallery-item .gallery-caption {
        float: left; }
    .entry-content .gallery .gallery-caption {
      margin-left: 0;
      margin-top: 10px; }
    .entry-content .gallery.gallery-columns-2 .gallery-item {
      width: 300px; }
    .entry-content .gallery.gallery-columns-3 .gallery-item {
      width: 260px; }
    .entry-content .gallery.gallery-columns-4 .gallery-item {
      width: 180px; }
    .entry-content .gallery > br + br {
      display: none; }

blockquote:before {
  content: '\201C';
  display: block;
  position: absolute;
  margin-left: -40px;
  margin-top: 26px;
  color: #117bb8;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 64px;
  line-height: 16px; }

.related-content {
  float: left;
  width: 100%; }
  .related-content .related-content-title {
    font-size: 18px;
    padding-top: 0; }
  .related-content article {
    float: left;
    width: 180px;
    margin-bottom: 48px;
    margin-right: 60px; }
    .related-content article .post-thumbnail {
      display: block;
      float: left;
      clear: both;
      margin-bottom: 12px;
      width: 180px;
      height: 180px;
      background: rgba(58, 58, 58, 0.03);
      text-align: center;
      overflow: hidden; }
      .related-content article .post-thumbnail span {
        display: block;
        width: 1000px;
        margin-left: -410px;
        height: 100%; }
      .related-content article .post-thumbnail img {
        height: 100%;
        width: auto;
        max-width: none;
        display: inline-block; }
    .related-content article .entry-title {
      width: 210px;
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 24px; }
      .related-content article .entry-title a {
        color: #3a3a3a;
        text-decoration: none;
        margin-bottom: 12px;
        display: block; }
    .related-content article.semicolon-last {
      margin-right: 0; }

.entry-meta, .entry-content .wp-caption-text, .comment-meta .comment-metadata, .site-footer {
  font-size: 13px;
  line-height: 24px;
  color: rgba(58, 58, 58, 0.5); }
  .entry-meta a, .entry-content .wp-caption-text a, .comment-meta .comment-metadata a, .site-footer a {
    color: rgba(58, 58, 58, 0.5);
    text-decoration: none; }

#primary {
  width: 900px;
  float: left;
  display: block; }

.widget-area {
  float: right;
  width: 300px; }
  .widget-area .sidebar-primary,
  .widget-area .sidebar-secondary,
  .widget-area .sidebar-tertiary {
    padding: 24px 24px; }
  .widget-area .sidebar-primary {
    background: #117bb8;
    color: white; }
    .widget-area .sidebar-primary a {
      color: white; }
    .widget-area .sidebar-primary aside:last-child {
      margin-bottom: 0; }
      .widget-area .sidebar-primary aside:last-child p:last-child {
        margin-bottom: 0; }
  .widget-area .sidebar-secondary {
    background: rgba(58, 58, 58, 0.03); }
  .widget-area .widget-title {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 24px; }
  .widget-area .widget {
    margin-bottom: 48px; }
    .widget-area .widget:last-child {
      margin-bottom: 0; }
  .widget-area .widget.widget_search {
    margin-bottom: 60px;
    /* Input size is only 36px high, so give this morge margin to fit 48px */ }

.home .widget-area .sidebar-primary {
  min-height: 240px; }

.paging-navigation {
  width: 900px;
  display: block;
  float: left;
  clear: both;
  border-top: solid 1px rgba(58, 58, 58, 0.1);
  text-align: center; }
  .paging-navigation .pagination {
    margin-top: -1px; }
  .paging-navigation .page-numbers {
    display: inline-block;
    padding: 0px 14px;
    font-size: 20px;
    line-height: 40px;
    height: 48px;
    font-weight: 400;
    border-top: solid 4px transparent;
    text-decoration: none;
    color: #3a3a3a; }
    .paging-navigation .page-numbers.current {
      border-top-color: #3a3a3a; }

.comments-area {
  float: left;
  width: 100%; }

.comments-title {
  margin-top: 0;
  padding-top: 0; }

.comment-list {
  list-style: none;
  margin-left: 80px; }
  .comment-list ul.children {
    list-style: none;
    margin-left: 80px; }

.comment-meta {
  position: relative; }
  .comment-meta .comment-author {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px;
    padding-top: 24px;
    margin-bottom: 0; }
    .comment-meta .comment-author b {
      font-weight: normal;
      display: block;
      font-style: normal;
      padding-top: 12px; }
    .comment-meta .comment-author .says {
      display: none; }
    .comment-meta .comment-author a {
      text-decoration: none;
      color: #3a3a3a; }
  .comment-meta img.avatar {
    position: absolute;
    left: -80px;
    width: 60px;
    height: 60px;
    margin-top: 6px; }
  .comment-meta .comment-metadata {
    margin-bottom: 24px; }

#respond label {
  display: block;
  margin-bottom: 12px; }
#respond #reply-title {
  font-size: 18px;
  margin: 0 0 12px 0; }
  #respond #reply-title small {
    line-height: 24px; }
#respond .required {
  color: #e60000; }
#respond textarea {
  height: 240px; }

.form-allowed-tags {
  display: none; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button-primary,
.button,
.button-secondary,
body.wpmag .wpm-button,
body.wpmag a.wpm-button,
a.button,
a.button-secondary,
body.wpmag .wpm-button-primary,
body.wpmag a.wpm-button-primary,
a.button-primary,
a.button,
a.button-secondary,
body.wpmag a.wpm-button,
body.wpmag a.wpm-button-primary {
  background: #117bb8;
  color: white;
  border: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block; }
  button:hover, button:focus,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  .button-primary:hover,
  .button:hover,
  .button-secondary:hover,
  body.wpmag .wpm-button:hover,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .related-content article:hover .entry-title a.wpm-button,
  .related-content article:hover .entry-title body.wpmag a.wpm-button,
  .grid article.hentry:hover .entry-title a.button,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button,
  .related-content article:hover .entry-title a.button,
  .grid article.hentry:hover .entry-title a.button-secondary,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button-secondary,
  .related-content article:hover .entry-title a.button-secondary,
  body.wpmag .wpm-button-primary:hover,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button-primary,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button-primary,
  body.wpmag .related-content article:hover .entry-title a.wpm-button-primary,
  .related-content article:hover .entry-title body.wpmag a.wpm-button-primary,
  .button-primary:focus,
  .button:focus,
  .button-secondary:focus,
  body.wpmag .wpm-button:focus,
  body.wpmag .wpm-button-primary:focus,
  a.button-primary:hover,
  .grid article.hentry:hover .entry-title a.button-primary,
  .grid article.hentry:hover .entry-title a.button,
  .grid article.hentry:hover .entry-title a.button-secondary,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button-primary,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button-primary,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button-primary,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button-secondary,
  .related-content article:hover .entry-title a.button-primary,
  .related-content article:hover .entry-title a.button,
  .related-content article:hover .entry-title a.button-secondary,
  .related-content article:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .related-content article:hover .entry-title a.wpm-button,
  .related-content article:hover .entry-title body.wpmag a.wpm-button-primary,
  body.wpmag .related-content article:hover .entry-title a.wpm-button-primary,
  a.button:hover,
  a.button-secondary:hover,
  body.wpmag a.wpm-button:hover,
  body.wpmag a.wpm-button-primary:hover,
  a.button-primary:focus,
  a.button:focus,
  a.button-secondary:focus,
  body.wpmag a.wpm-button:focus,
  body.wpmag a.wpm-button-primary:focus {
    background: #138bcf;
    color: white; }

.button,
.button-secondary,
body.wpmag .wpm-button,
body.wpmag a.wpm-button,
a.button,
a.button-secondary,
body.wpmag a.wpm-button {
  background: #3a3a3a; }
  .button:hover,
  .button-secondary:hover,
  body.wpmag .wpm-button:hover,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .related-content article:hover .entry-title a.wpm-button,
  .related-content article:hover .entry-title body.wpmag a.wpm-button,
  a.button:hover,
  .grid article.hentry:hover .entry-title a.button,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button,
  .related-content article:hover .entry-title a.button,
  a.button-secondary:hover,
  .grid article.hentry:hover .entry-title a.button-secondary,
  .grid article.hentry:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .grid article.hentry:hover .entry-title a.wpm-button,
  .js.grid article.hentry.semicolon-featured:hover .entry-title a.button-secondary,
  .related-content article:hover .entry-title a.button-secondary,
  .related-content article:hover .entry-title body.wpmag a.wpm-button,
  body.wpmag .related-content article:hover .entry-title a.wpm-button,
  body.wpmag a.wpm-button:hover {
    background: #474747; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: solid 1px rgba(58, 58, 58, 0.3);
  line-height: 24px;
  font-size: 16px;
  display: block;
  padding: 8px;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  height: 36px; }

.site-footer {
  margin: 48px 0; }

.semicolon-clear-left {
  clear: left; }

/* A tiny bit smaller than the original small article */
/* A tiny bit smaller than the original featured article */
/* A tiny bit smaller than the original articles (both featured and regular) */
/* @todo smarter galleries */
/* Four columns (smaller) + sidebar */
@media all and (max-width: 1380px) and (min-width: 1260px) {
  body.grid article.hentry,
  .related-content article {
    width: 150px; }
    body.grid article.hentry .post-thumbnail,
    .related-content article .post-thumbnail {
      width: 150px;
      height: 150px;
      /* 150px is the new height, 168 is the desired (vrhythm) height, bottom margin is 12px by default, so 18px */
      margin-bottom: 18px; }
      body.grid article.hentry .post-thumbnail span,
      .related-content article .post-thumbnail span {
        margin-left: -425px; }
    body.grid article.hentry .entry-title,
    .related-content article .entry-title {
      width: 180px; }

  body.grid.js article.hentry.semicolon-featured {
    width: 360px; }
    body.grid.js article.hentry.semicolon-featured .post-thumbnail {
      width: 360px;
      height: 206px;
      /* 206px is the new height, 216 is the desired (vrhythm) height, bottom margin is 12px by default, so 10px */
      margin-bottom: 10px; }
      body.grid.js article.hentry.semicolon-featured .post-thumbnail span {
        margin-left: -320px; }
    body.grid.js article.hentry.semicolon-featured .entry-title {
      width: 390px; }

  .entry-content .gallery .gallery-item {
    max-width: 220px; }
  .entry-content .gallery.gallery-columns-2 .gallery-item {
    max-width: 300px; }
  .entry-content .gallery.gallery-columns-3 .gallery-item {
    max-width: 220px; }
  .entry-content .gallery.gallery-columns-4 .gallery-item {
    max-width: 140px; }

  #page {
    width: 1140px; }

  #primary,
  .paging-navigation {
    width: 780px; }

  .entry-content img.size-full,
  .entry-content img.size-large,
  .entry-content iframe {
    max-width: 820px; } }
/* Four columns large */
@media all and (max-width: 1259px) and (min-width: 1080px) {
  #page,
  #primary,
  .paging-navigation {
    width: 900px; }

  .entry-content img.size-full,
  .entry-content img.size-large,
  .entry-content iframe {
    max-width: 940px; }

  /* @todo get a brain */
  #secondary {
    display: none; } }
/* Four columns smaller */
@media all and (max-width: 1079px) and (min-width: 900px) {
  body.grid article.hentry,
  .related-content article {
    width: 150px; }
    body.grid article.hentry .post-thumbnail,
    .related-content article .post-thumbnail {
      width: 150px;
      height: 150px;
      /* 150px is the new height, 168 is the desired (vrhythm) height, bottom margin is 12px by default, so 18px */
      margin-bottom: 18px; }
      body.grid article.hentry .post-thumbnail span,
      .related-content article .post-thumbnail span {
        margin-left: -425px; }
    body.grid article.hentry .entry-title,
    .related-content article .entry-title {
      width: 180px; }

  body.grid.js article.hentry.semicolon-featured {
    width: 360px; }
    body.grid.js article.hentry.semicolon-featured .post-thumbnail {
      width: 360px;
      height: 206px;
      /* 206px is the new height, 216 is the desired (vrhythm) height, bottom margin is 12px by default, so 10px */
      margin-bottom: 10px; }
      body.grid.js article.hentry.semicolon-featured .post-thumbnail span {
        margin-left: -320px; }
    body.grid.js article.hentry.semicolon-featured .entry-title {
      width: 390px; }

  .entry-content .gallery .gallery-item {
    max-width: 220px; }
  .entry-content .gallery.gallery-columns-2 .gallery-item {
    max-width: 300px; }
  .entry-content .gallery.gallery-columns-3 .gallery-item {
    max-width: 220px; }
  .entry-content .gallery.gallery-columns-4 .gallery-item {
    max-width: 140px; }

  #page,
  #primary,
  .paging-navigation {
    width: 780px; }

  .entry-content img.size-full,
  .entry-content img.size-large,
  .entry-content iframe {
    max-width: 820px; }

  /* @todo get a brain */
  #secondary {
    display: none; } }
/* Three column large */
@media all and (max-width: 899px) and (min-width: 780px) {
  body {
    padding: 0 60px; }

  #page,
  #primary,
  .paging-navigation {
    width: 100%; }

  .entry-content .wp-caption.alignnone img.size-full,
  .entry-content .wp-caption.alignnone img.size-large,
  .entry-content img.size-full,
  .entry-content img.size-full.alignnone,
  .entry-content img.size-large,
  .entry-content img.size-large.alignnone,
  .entry-content iframe,
  .entry-content .wp-caption.alignnone img.size-full + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-large + .wp-caption-text {
    max-width: 100%;
    margin-left: 0; }

  /* @todo get a brain */
  #secondary {
    display: none; }

  /* @no-js compat */
  body.no-js.grid article:nth-child(4n+0),
  body.no-js .related-content article:nth-child(4n+1) {
    margin-right: 60px; }
  body.no-js.grid article:nth-child(4n+0) + article,
  body.no-js .related-content article:nth-child(4n+1) + article {
    clear: none; }
  body.no-js.grid article:nth-child(3n+0),
  body.no-js .related-content article:nth-child(3n+1) {
    margin-right: 0 !important; }
  body.no-js.grid article:nth-child(3n+0) + article,
  body.no-js .related-content article:nth-child(3n+1) + article {
    clear: left !important; } }
/* Three columns small */
@media all and (max-width: 779px) and (min-width: 720px) {
  body.grid article.hentry,
  .related-content article {
    width: 150px; }
    body.grid article.hentry .post-thumbnail,
    .related-content article .post-thumbnail {
      width: 150px;
      height: 150px;
      /* 150px is the new height, 168 is the desired (vrhythm) height, bottom margin is 12px by default, so 18px */
      margin-bottom: 18px; }
      body.grid article.hentry .post-thumbnail span,
      .related-content article .post-thumbnail span {
        margin-left: -425px; }
    body.grid article.hentry .entry-title,
    .related-content article .entry-title {
      width: 180px; }

  body.grid.js article.hentry.semicolon-featured {
    width: 360px; }
    body.grid.js article.hentry.semicolon-featured .post-thumbnail {
      width: 360px;
      height: 206px;
      /* 206px is the new height, 216 is the desired (vrhythm) height, bottom margin is 12px by default, so 10px */
      margin-bottom: 10px; }
      body.grid.js article.hentry.semicolon-featured .post-thumbnail span {
        margin-left: -320px; }
    body.grid.js article.hentry.semicolon-featured .entry-title {
      width: 390px; }

  body {
    padding: 0 60px; }

  #page,
  #primary,
  .paging-navigation {
    width: 100%; }

  .entry-content .wp-caption.alignnone img.size-full,
  .entry-content .wp-caption.alignnone img.size-large,
  .entry-content img.size-full,
  .entry-content img.size-full.alignnone,
  .entry-content img.size-large,
  .entry-content img.size-large.alignnone,
  .entry-content iframe,
  .entry-content .wp-caption.alignnone img.size-full + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-large + .wp-caption-text {
    max-width: 100%;
    margin-left: 0; }

  /* @todo get a brain */
  #secondary {
    display: none; }

  /* @no-js compat */
  body.no-js.grid article:nth-child(4n+0),
  body.no-js .related-content article:nth-child(4n+1) {
    margin-right: 60px; }
  body.no-js.grid article:nth-child(4n+0) + article,
  body.no-js .related-content article:nth-child(4n+1) + article {
    clear: none; }
  body.no-js.grid article:nth-child(3n+0),
  body.no-js .related-content article:nth-child(3n+1) {
    margin-right: 0 !important; }
  body.no-js.grid article:nth-child(3n+0) + article,
  body.no-js .related-content article:nth-child(3n+1) + article {
    clear: left !important; } }
/* Two columns large */
@media all and (max-width: 719px) and (min-width: 540px) {
  body {
    padding: 0 60px; }

  #page,
  #primary,
  .paging-navigation {
    width: 100%; }

  .entry-content .wp-caption.alignnone img.size-full,
  .entry-content .wp-caption.alignnone img.size-large,
  .entry-content img.size-full,
  .entry-content img.size-full.alignnone,
  .entry-content img.size-large,
  .entry-content img.size-large.alignnone,
  .entry-content iframe,
  .entry-content .wp-caption.alignnone img.size-full + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-large + .wp-caption-text {
    max-width: 100%;
    margin-left: 0; }

  /* @todo get a brain */
  #secondary {
    display: none; }

  /* @no-js compat */
  body.no-js.grid article:nth-child(4n+0),
  body.no-js .related-content article:nth-child(4n+1) {
    margin-right: 60px; }
  body.no-js.grid article:nth-child(4n+0) + article,
  body.no-js .related-content article:nth-child(4n+1) + article {
    clear: none; }
  body.no-js.grid article:nth-child(2n+0),
  body.no-js .related-content article:nth-child(2n+1) {
    margin-right: 0 !important; }
  body.no-js.grid article:nth-child(2n+0) + article,
  body.no-js .related-content article:nth-child(2n+1) + article {
    clear: left !important; } }
/* Two columns small */
@media all and (max-width: 539px) {
  body.grid article.hentry,
  .related-content article {
    width: 150px; }
    body.grid article.hentry .post-thumbnail,
    .related-content article .post-thumbnail {
      width: 150px;
      height: 150px;
      /* 150px is the new height, 168 is the desired (vrhythm) height, bottom margin is 12px by default, so 18px */
      margin-bottom: 18px; }
      body.grid article.hentry .post-thumbnail span,
      .related-content article .post-thumbnail span {
        margin-left: -425px; }
    body.grid article.hentry .entry-title,
    .related-content article .entry-title {
      width: 180px; }

  body.grid.js article.hentry.semicolon-featured {
    width: 360px; }
    body.grid.js article.hentry.semicolon-featured .post-thumbnail {
      width: 360px;
      height: 206px;
      /* 206px is the new height, 216 is the desired (vrhythm) height, bottom margin is 12px by default, so 10px */
      margin-bottom: 10px; }
      body.grid.js article.hentry.semicolon-featured .post-thumbnail span {
        margin-left: -320px; }
    body.grid.js article.hentry.semicolon-featured .entry-title {
      width: 390px; }

  body {
    padding: 0 60px; }

  #page,
  #primary,
  .paging-navigation {
    width: 100%; }

  .entry-content .wp-caption.alignnone img.size-full,
  .entry-content .wp-caption.alignnone img.size-large,
  .entry-content img.size-full,
  .entry-content img.size-full.alignnone,
  .entry-content img.size-large,
  .entry-content img.size-large.alignnone,
  .entry-content iframe,
  .entry-content .wp-caption.alignnone img.size-full + .wp-caption-text,
  .entry-content .wp-caption.alignnone img.size-large + .wp-caption-text {
    max-width: 100%;
    margin-left: 0; }

  /* @todo get a brain */
  #secondary {
    display: none; }

  /* @no-js compat */
  body.no-js.grid article:nth-child(4n+0),
  body.no-js .related-content article:nth-child(4n+1) {
    margin-right: 60px; }
  body.no-js.grid article:nth-child(4n+0) + article,
  body.no-js .related-content article:nth-child(4n+1) + article {
    clear: none; }
  body.no-js.grid article:nth-child(2n+0),
  body.no-js .related-content article:nth-child(2n+1) {
    margin-right: 0 !important; }
  body.no-js.grid article:nth-child(2n+0) + article,
  body.no-js .related-content article:nth-child(2n+1) + article {
    clear: left !important; } }
/* @todo moar narrow! */
/* Better mobile menu */
@media screen and (max-width: 600px) {
  body.js .main-navigation .menu-toggle {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    line-height: 52px;
    height: 60px;
    font-weight: 400;
    border-top: solid 4px transparent;
    margin: -1px 0 0 0;
    padding: 0; }
    body.js .main-navigation .menu-toggle:before {
      display: inline-block;
      font-weight: normal;
      font-family: Genericons;
      content: '\f419';
      font-size: 16px;
      line-height: 52px;
      padding-right: 10px;
      -webkit-font-smoothing: antialiased;
      vertical-align: top; }
  body.js .main-navigation.toggled .current_page_item a,
  body.js .main-navigation.toggled .current-menu-item a,
  body.js .main-navigation.toggled .current-post-ancestor a,
  body.js .main-navigation.toggled .current-menu-ancestor a,
  body.js .main-navigation.toggled .current-menu-parent a,
  body.js .main-navigation.toggled .current-post-parent a {
    border-top-color: transparent;
    position: relative; }
    body.js .main-navigation.toggled .current_page_item a:before,
    body.js .main-navigation.toggled .current-menu-item a:before,
    body.js .main-navigation.toggled .current-post-ancestor a:before,
    body.js .main-navigation.toggled .current-menu-ancestor a:before,
    body.js .main-navigation.toggled .current-menu-parent a:before,
    body.js .main-navigation.toggled .current-post-parent a:before {
      display: inline-block;
      font-weight: normal;
      font-family: Genericons;
      content: '\f452';
      font-size: 16px;
      line-height: 24px;
      -webkit-font-smoothing: antialiased;
      vertical-align: top;
      position: absolute;
      left: 0px; }
  body.js .main-navigation.toggled ul.menu {
    border-bottom: solid 1px rgba(58, 58, 58, 0.1); }
  body.js .main-navigation.toggled li {
    display: block;
    float: none;
    clear: left; }
    body.js .main-navigation.toggled li a {
      padding: 0 26px; }
  body.js .main-navigation.toggled .menu-toggle {
    border-top-color: #3a3a3a;
    border-bottom: solid 1px rgba(58, 58, 58, 0.1); } }
/* WPM */
body.wpmag .wpmag-content-newsletter h3, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter h1.entry-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary h2.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter h2.entry-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary h3.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter h3.entry-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .grid .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid .wpmag-content-newsletter .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .grid article.hentry .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid article.hentry .wpmag-content-newsletter .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .related-content .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content .wpmag-content-newsletter .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .related-content article .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content article .wpmag-content-newsletter .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .widget-area .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs #primary .widget-area .wpmag-content-newsletter .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .comment-meta .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs #primary .comment-meta .wpmag-content-newsletter .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary #respond .entry-title#reply-title, body.wpmag.post-type-archive-wpm_jobs #primary #respond .wpmag-content-newsletter .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs .wpmag-content-newsletter #primary .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs #primary .wpmag-content-newsletter .entry-title#reply-title {
  font-size: 18px; }
body.wpmag .wpmag-content-newsletter p {
  margin: 0; }
body.wpmag .site-title a {
  background: url("/assets/themes/base/logo.png") 0 0 no-repeat;
  text-indent: -15000px;
  display: inline-block;
  width: 224px;
  height: 75px;
  margin-bottom: 9px;
  /* 84px - 75px */ }
body.wpmag .site-description {
  display: none; }
body.wpmag .yandex-share .b-share {
  margin-left: -4px; }
body.wpmag .yandex-share {
  margin-bottom: 21px;
  /* vertical rhythm */ }

body.wpmag.page-id-3157 #secondary {
  display: none; }

/* HiDPI */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  body.wpmag .site-title a {
    background-image: url("logo.png");
    background-size: 224px 75px; } }
/* Jobs */
body.wpmag.post-type-archive-wpm_jobs #primary h2.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h3.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary h1.entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.site-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid .entry-title.page-title, .grid body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.page-title, body.wpmag.post-type-archive-wpm_jobs #primary .grid article.hentry .entry-title, .grid article.hentry body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content .entry-title.related-content-title, .related-content body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.related-content-title, body.wpmag.post-type-archive-wpm_jobs #primary .related-content article .entry-title, .related-content article body.wpmag.post-type-archive-wpm_jobs #primary .entry-title, body.wpmag.post-type-archive-wpm_jobs #primary .widget-area .entry-title.widget-title, .widget-area body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.widget-title, body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comments-title, body.wpmag.post-type-archive-wpm_jobs #primary .comment-meta .entry-title.comment-author, .comment-meta body.wpmag.post-type-archive-wpm_jobs #primary .entry-title.comment-author, body.wpmag.post-type-archive-wpm_jobs #primary #respond .entry-title#reply-title, #respond body.wpmag.post-type-archive-wpm_jobs #primary .entry-title#reply-title {
  font-weight: normal;
  margin-bottom: 6px; }
body.wpmag.post-type-archive-wpm_jobs .entry-content .entry-meta, body.wpmag.post-type-archive-wpm_jobs .entry-content .wp-caption-text, body.wpmag.post-type-archive-wpm_jobs .entry-content .comment-meta .comment-metadata, .comment-meta body.wpmag.post-type-archive-wpm_jobs .entry-content .comment-metadata, body.wpmag.post-type-archive-wpm_jobs .entry-content .site-footer {
  margin-top: -16px; }
body.wpmag.post-type-archive-wpm_jobs .paging-navigation {
  margin-top: 60px; }
body.wpmag.post-type-archive-wpm_jobs .yandex-share {
  display: none; }
body.wpmag.post-type-archive-wpm_jobs #text-4 {
  display: none; }

body.wpmag.page-id-31036 .yandex-share,
body.wpmag.single-wpm_jobs .yandex-share {
  display: none; }
body.wpmag.page-id-31036 #text-4,
body.wpmag.single-wpm_jobs #text-4 {
  display: none; }

bady.wpmag .wpm-jobs-widget ul {
  list-style: none;
  margin-left: 0; }
bady.wpmag .wpm-jobs-widget li {
  margin-bottom: 24px; }
