@(isActive: Boolean, header: String, id: Int, dataParent: String, content: String)(implicit flash: Flash, lang: Lang, user: models.User)

<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"> <a data-toggle="collapse" class="panel-toggle" data-parent="#@dataParent" href="#collapse_@id">@header</a> </h4>
  </div>
  <div id="collapse_@id" class="panel-collapse collapse@if(isActive){ in}">
    <div class="panel-body">
    @content
    </div>
  </div>
</div>
