@(item: String)(implicit flash: Flash, lang: Lang, user: models.User)

<li>
  <div class="intro-list-icon"><i class="fa fa-check-square-o"></i></div>
  <div class="intro-list-content">
    <p>@item</p>
  </div>
</li>
