@(image: String, zoomImage: String, title: String, subtitle: String)(implicit flash: Flash, lang: Lang, user: models.User)

<div class="col-xs-6 col-sm-6 col-md-4 portfolio-item triggerAnimation animated" data-animate="flipInX">
  <div class="hover-overlay">
    <img class="img-responsive" src="@routes.Assets.at(image)" alt="Portfolio Image">
    <a class="prettyPhoto image_zoom" href="@routes.Assets.at(zoomImage)" title="Portfolio Image">									
    <div class="item-overlay">
      <div class="overlay-content">
        <h4>@title</h4>
        <h5>@subtitle</h5>
      </div>
    </div>
    </a>
  </div>
</div>
