@(items: (String, String, String, String)*)(implicit flash: Flash, lang: Lang, user: models.User)

<div id="portfolio-items-list" class="row">
  <div class="col-sm-12">
    @for((image, zoomImage, title, subtitle) <- items) {
    @themes.keno_landing.sections.utils.portfolioListItem(image, zoomImage, title, subtitle)
    }
  </div>
</div>

