@(descr: controllers.modules.bots.BotDescriptor, result: Any)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.modules.instagram.bots.commonResultWrapper(descr, result) { res: scala.collection.mutable.ListBuffer[Map[String, String]] =>
  @views.html.modules.instagram.bots.commonResultsTable() {
    <th>@Messages("module.instagram.bots.bot.localIndex")</th>
    <th>@Messages("module.instagram.bots.bot.hashTag")</th>                      
    <th>@Messages("module.instagram.bots.bot.mediaId")</th>
    <th>@Messages("module.instagram.bots.bot.status")</th>
  } {
    @for(result <- res) {
    <tr>
      <td>@result("local_index")</td>
      <td>@result("hash_tag")</td>
      <td>@result("media_id")</td>
      <td>@views.html.modules.instagram.bots.commonRelationsOperationState(result("status"))</td>
    </tr>
    }	 
  }
}
