@(descr: controllers.modules.bots.BotDescriptor, result: Any)(html: scala.collection.mutable.ListBuffer[Map[String, String]] => Html)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@import controllers.modules.instagram.bots.InstagramCommonBotInfo
@import controllers.modules.bots.CommonBotStates

@views.html.utils.page2compiled12row(Array("module.instagram.name", "module.instagram.bots")) { } {
  @descr.title
  @result match {
    case controllers.modules.bots.ResultUnknown => {
 	  @Messages("module.instagram.bots.bot.unknownResult")
    }
 	case controllers.modules.bots.ResultCurrent(nativeResult) => {
 	  @Messages("module.instagram.bots.bot.currentResult"): 
 	  @nativeResult match {
 	  	case map: Map[String, Any] => {
 	  	  <!-- if(map isDefinedAt CommonBotStates.INFO) { ... } -->
          @if(map isDefinedAt CommonBotStates.STATE) {<h4>@views.html.modules.instagram.bots.commonRobotState(map(CommonBotStates.STATE))</h4>}
          @if(map isDefinedAt InstagramCommonBotInfo.COMMON_STATS_INFO) {
          	@defining(map(InstagramCommonBotInfo.COMMON_STATS_INFO) match { case lmap: Map[String, Int] => lmap }) { commonStats =>
          	  @if(commonStats isDefinedAt InstagramCommonBotInfo.ALL) {
                <h4>@Messages("module.instagram.bots.bot.all"): @commonStats(InstagramCommonBotInfo.ALL)</h4>
                @if(commonStats("all") > 0 && (commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_SUCCESS) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BAD_REQUEST) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_ACCESS_DENIED) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE))) {
                  <div id="pie-placeholder-common-result" style="height:200px;"></div>
                }
              }
            }
          }
          <br>
          @if(map isDefinedAt CommonBotStates.RESULT) {<h4>@Messages("module.instagram.bots.bot.results"): </h4>}
 	  	  @map(CommonBotStates.RESULT) match {
 	  	    case res: scala.collection.mutable.ListBuffer[Map[String, String]] => { @html(res) }
 	  	    case _ => { }
 	      }
 	  	}  
 	  }
    }
  } 
}

@result match {
  case controllers.modules.bots.ResultCurrent(nativeResult) => {
    @nativeResult match {
      case map: Map[String, Any] => {
      	@if(map isDefinedAt InstagramCommonBotInfo.COMMON_STATS_INFO) {
          @defining(map(InstagramCommonBotInfo.COMMON_STATS_INFO) match { case lmap: Map[String, Int] => lmap }) { commonStats =>
       	    @if(commonStats.isDefinedAt(InstagramCommonBotInfo.ALL) && commonStats(InstagramCommonBotInfo.ALL) > 0 && (commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_SUCCESS) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BAD_REQUEST) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_ACCESS_DENIED) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE))) {
<script>  
  $.plot('#pie-placeholder-common-result', [
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_SUCCESS))       {
      { label: "@Messages("module.instagram.bots.bot.success"): @commonStats(InstagramCommonBotInfo.STATUS_SUCCESS)"           , data: @commonStats(InstagramCommonBotInfo.STATUS_SUCCESS)}
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BAD_REQUEST) ||  commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_ACCESS_DENIED) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE)) {,}
      }
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BAD_REQUEST))   {
      { label: "@Messages("module.instagram.bots.bot.badRequest"): @commonStats(InstagramCommonBotInfo.STATUS_BAD_REQUEST)"    , data: @commonStats(InstagramCommonBotInfo.STATUS_BAD_REQUEST)}
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_ACCESS_DENIED) || commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE)) {,}
      }
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_ACCESS_DENIED)) {
      { label: "@Messages("module.instagram.bots.bot.accessDenied"): @commonStats(InstagramCommonBotInfo.STATUS_ACCESS_DENIED)", data: @commonStats(InstagramCommonBotInfo.STATUS_ACCESS_DENIED)}
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE)) {,}
      }
      @if(commonStats.isDefinedAt(InstagramCommonBotInfo.STATUS_BEFORE))        {
      { label: "@Messages("module.instagram.bots.bot.before"): @commonStats(InstagramCommonBotInfo.STATUS_BEFORE)"             , data: @commonStats(InstagramCommonBotInfo.STATUS_BEFORE)}
      }
    ], {
    series: {
      pie: {
        show: true
      }
    },
    legend: {
        show: false
    }
  });
</script> 
            }
          }     		
        }
      }
      case _ => {}
	}
  }
  case _ => {}
}