@()(trInContent: Html)(tbodyContent: Html)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        @trInContent
      </tr>
    </thead>
    <tbody>
      @tbodyContent
    </tbody>  	
  </table>
</div>  