@()(implicit flash: Flash, lang: Lang, user: models.User)

<div id="call_to_action" class="parallax">
  <div class="container">
    <div class="row">
      <div id="cta_slogan" class="col-md-9">
        <h2>Don't miss the chance to get <span>Keno</span></h2>
        <p>Vestibulum at felis adipiscing tincidunt pretium mollis</p>
      </div>
      <div id="cta_button" class="col-md-3 text-right">
        <a href="#" class="btn btn-theme btn-lg"><i class="fa fa-shopping-cart"></i> Purchase Now</a>
      </div>
    </div>
  </div>
</div>