@()(implicit flash: Flash, lang: Lang, user: models.User)

<footer id="footer">
  <div class="container">
    <div class="row">
      <div id="footer_copy" class="col-md-6">
        <p>Keno © 2014. Designed and developed by DSAThemes.</p>
      </div>
      <div id="footer_icons" class="col-md-6 text-right">
        <ul class="footer-socials clearfix">
          <li><a class="foo_social ico-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="foo_social ico-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="foo_social ico-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="foo_social ico-behance" href="#"><i class="fa fa-behance"></i></a></li>
          <li><a class="foo_social ico-dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <!--
            <li><a class="foo_social ico-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="foo_social ico-digg" href="#"><i class="fa fa-digg"></i></a></li>
            <li><a class="foo_social ico-deviantart" href="#"><i class="fa fa-deviantart"></i></a></li>
            <li><a class="foo_social ico-envelope" href="#"><i class="fa fa-envelope-square"></i></a></li>							
            <li><a class="foo_social ico-delicious" href="#"><i class="fa fa-delicious"></i></a></li>
            <li><a class="foo_social ico-instagram" href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a class="foo_social ico-pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>	
            <li><a class="foo_social ico-dropbox" href="#"><i class="fa fa-dropbox"></i></a></li>
            <li><a class="foo_social ico-skype" href="#"><i class="fa fa-skype"></i></a></li>
            <li><a class="foo_social ico-youtube" href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a class="foo_social ico-tumblr" href="#"><i class="fa fa-tumblr"></i></a></li>
            <li><a class="foo_social ico-vimeo" href="#"><i class="fa fa-vimeo-square"></i></a></li>
            <li><a class="foo_social ico-flickr" href="#"><i class="fa fa-flickr"></i></a></li>
            <li><a class="foo_social ico-github" href="#"><i class="fa fa-github-alt"></i></a></li>
            <li><a class="foo_social ico-renren" href="#"><i class="fa fa-renren"></i></a></li>
            <li><a class="foo_social ico-vk" href="#"><i class="fa fa-vk"></i></a></li>
            <li><a class="foo_social ico-xing" href="#"><i class="fa fa-xing"></i></a></li>
            <li><a class="foo_social ico-weibo" href="#"><i class="fa fa-weibo"></i></a></li>
            <li><a class="foo_social ico-rss" href="#"><i class="fa fa-rss"></i></a></li>										
            -->									
        </ul>
      </div>
    </div>
  </div>
</footer>