@()(implicit flash: Flash, lang: Lang, user: models.User)

<div id="promo-banner">
  <div class="container">
    <!-- Banner Tittle -->
    <div class="row">
      <div class="col-sm-12 text-center triggerAnimation animated" data-animate="fadeInDown">
        <h1>This is truly awesome</h1>
        <h3>Flexible and Responsive HTML5 Landing Page Template</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center triggerAnimation animated" data-animate="fadeInUp">
        <img class="img-responsive" src="@routes.Assets.at("themes/keno_landing/img/thumbs/promo_image.png")" alt="promo_image">
      </div>
    </div>
  </div>
</div>