@()(implicit flash: Flash, lang: Lang, user: models.User)

<div id="testimonials-rotator">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="testimonials">
                <div class="client-msg">
                  <p>&laquo; Etiam condimentum sapien sem condimentum accumsan. Proin in adipiscing elit. Suspendisse dignissim sollicitudin 
                    ornare at sagittis elementum vulputate congue &raquo;												   
                  </p>
                </div>
                <p class="author">Jonathan Doe <span>Programmer</span></p>
              </div>
            </li>
            <li>
              <div class="testimonials">
                <div class="client-msg">
                  <p>&laquo; Suspendisse cursus risus laoreet turpis auctor, pharetra massa varius. Suspendisse dignissim sollicitudin aliquam.
                    Nullam vehicula pharetra ultrices sapien gravida bibendum&raquo;
                  </p>
                </div>
                <p class="author">Karen Olson <span>Housewife</span></p>
              </div>
            </li>
            <li>
              <div class="testimonials">
                <div class="client-msg">
                  <p>&laquo; In eget urna nisl bibendum dapibus. Phasellus nec euismod mauris. Morbi vitae rutrum turpis.
                    Phasellus molestie posuere ligula ligula aliquet imperdiet vitae bibendum &raquo;
                  </p>
                </div>
                <p class="author">Jonathan Doe <span>Manager</span></p>
              </div>
            </li>
            <li>
              <div class="testimonials">
                <div class="client-msg">
                  <p>&laquo; Vivamus a purus lacus tempor volutpat. Etiam odio purus, placerat interdum vestibulum rutrum aliquet vulputate.
                    Proin euismod pulvinar aliquam bibendum dapibus phasellus&raquo; 
                  </p>
                </div>
                <p class="author">Hannah Brown <span>Internet Surfer</span></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>