@(uid: Long)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@defining(controllers.modules.instagram.InstagramModule.getInstagram(uid, 0)) { api =>
@views.html.utils.page2compiled12row(Array("module.instagram.name", "module.instagram.bots")) { } {
  @if(api == null) {
  	@Messages("module.instagram.bots.module.not_authorized") <br>
    @views.html.utils.button1(controllers.modules.instagram.routes.InstagramModule.startInstagramModuleBotsList(uid, 0), "", "fa-instagram")
  } else {	
    @helper.javascriptRouter("jsRoutes")(
      controllers.modules.bots.routes.javascript.BotModule.botsPage
    )
    <div class="table-responsive" id="table_bots">
    <table class="table bots-list">
      <thead>
        <tr>
          <th><span>@Messages("module.instagram.bots.bot.id")</span></th>
          <th><span>@Messages("module.instagram.bots.bot.name")</span></th>
          <th><span>@Messages("module.instagram.bots.bot.descr")</span></th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div id="pagination_nav_bots"></div>
  }
}

@if(api != null) {
<script>
  $(function() {
    function uploadBotsPage(page_number) {
      jsRoutes.controllers.modules.bots.BotModule.botsPage(@uid, page_number, "").ajax({
        success: function(data) {
          $('#table_bots > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.instagram.bots.page.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_bots').bootpag({
      total: 1,
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadBotsPage(num);
    });

    uploadBotsPage(1);

  });
</script>
}
}