@(uid: Long, bots: List[controllers.modules.bots.BotDescriptor])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(bot <- bots) {
<tr>
  <td>@bot.title</td>
  <td>@bot.descr</td>
  <td style="width: 15%;">
    @views.html.utils.button1(controllers.modules.bots.routes.BotModule.botDescription(uid, bot.name), "", "fa-question")
    @views.html.utils.button1(controllers.modules.bots.routes.BotModule.botCreate(uid, bot.name), "", "fa-magic")
  </td>
</tr>
}


