@(uid: Long)(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@defining(controllers.modules.instagram.InstagramModule.getInstagram(uid, 0)) { api =>
@defining(controllers.modules.bots.BotController.actorsPackage(uid).botsCount()) { botsCount =>  
@views.html.utils.page2compiled12row(Array("module.instagram.name", "module.instagram.user.bots")) { } {
  @if(botsCount > 0) {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.bots.routes.javascript.BotModule.userBotsPage
  )
  }
  @if(api == null) {
    @views.html.utils.button1(controllers.modules.instagram.routes.InstagramModule.startInstagramModuleUserBotsList(uid, 0), "", "fa-instagram")
  }
  @if(api != null) {
    @views.html.utils.button1(controllers.modules.instagram.routes.InstagramModule.removeInstagramModuleUserBotsList(uid, 0), "danger", "fa-trash-o")
  }
  @views.html.utils.button1(controllers.modules.bots.routes.BotModule.botsList(uid), "", "fa-list") 
  <br>
  @if(botsCount > 0) {
  <div class="table-responsive" id="table_user_bots">
  <table class="table user-bots-list">
    <thead>
      <tr>
        <th><span>@Messages("module.instagram.bots.bot.name")</span></th>
        <th><span>@Messages("module.instagram.bots.bot.status")</span></th>        
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    </table>
  </div>
  <div id="pagination_nav_user_bots"></div>
  } else {
    @Messages("module.instagram.bots.bot.not_robots_created")
  }
}

@if(botsCount > 0) {
<script>
  $(function() {
    function uploadUserBotsPage(page_number) {
      jsRoutes.controllers.modules.bots.BotModule.userBotsPage(@uid, page_number, "").ajax({
        success: function(data) {
          $('#table_user_bots > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.instagram.bots.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_user_bots').bootpag({
      total: 1,
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadUserBotsPage(num);
    });

    uploadUserBotsPage(1);

  });
</script>
}
}
}