@()(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)

@views.html.utils.page2compiled12row(Array("module.instagram.name", "module.instagram.users")) { } {
  @helper.javascriptRouter("jsRoutes")(
    controllers.modules.bots.routes.javascript.BotModule.usersPage
  )
  <div class="table-responsive" id="table_instagram_users">
  <table class="table instagram-user-list">
    <thead>
      <tr>
        <th><span>@Messages("module.instagram.users.user")</span></th>
        <th><span>@Messages("module.instagram.users.user.module_active")</span></th>
        <th><span>@Messages("module.instagram.users.user.all_robots")</span></th>
        <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="pagination_nav_instagram_users"></div>
}

<script>
  $(function() {
    function uploadInstagramUsersPage(page_number) {
      jsRoutes.controllers.modules.bots.BotModule.usersPage(page_number, "").ajax({
        success: function(data) {
          $('#table_instagram_users > table > tbody').html(data);
        },
        error: function() {
          alert("@Messages("module.instagram.users.page.uploadpage.error")");
        }
      });
    }

    $('#pagination_nav_instagram_users').bootpag({
      total: @User.pagesCount(),
      page: 1,
      maxVisible: 10 
    }).on('page', function(event, num){
      uploadInstagramUsersPage(num);
    });

    uploadInstagramUsersPage(1);

  });
</script>
