@(users: List[models.User])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(localUser <- users) {
  @defining(controllers.modules.instagram.InstagramModule.getInstagram(localUser.id, 0)) { api =>
  <tr>
    <td>
      <img width="50" height="50" src="@localUser.getAvatarLink" alt="">
      <a href="@controllers.modules.routes.Users.profile(localUser.id)" class="user-link">@views.html.utils.userViewedName(localUser) {&nbsp;}</a>
    </td>
    <td class="text-left">
      @if(api == null) { <span class="label label-primary">@Messages("module.instagram.user.module.status_no")</span> }
      @if(api != null) { <span class="label label-success">@Messages("module.instagram.user.module.status_yes")</span> }
    </td>
    @defining(controllers.modules.bots.BotController.actorsPackage(localUser.id).botsCount()) { botsCount =>  
    <td class="text-left">
      @botsCount
    </td>  
    <td class="text-left">
      @if(api == null) {
        @views.html.utils.button1(controllers.modules.instagram.routes.InstagramModule.startInstagramModuleUsersList(localUser.id, 0), "", "fa-instagram")
      }
      @if(api != null) {
      	@views.html.utils.button1(controllers.modules.instagram.routes.InstagramModule.removeInstagramModule(localUser.id, 0), "danger", "fa-trash-o")
      }
      @if(botsCount > 0) {
        @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotsList(localUser.id), "", "fa-male")
      }
      @views.html.utils.button1(controllers.modules.bots.routes.BotModule.botsList(localUser.id), "", "fa-list") 
    </td>
    }
  </tr>
  }
}

	