@(uid: Long, bots: List[controllers.modules.bots.BotSupporter])(implicit flash: Flash, lang: Lang, request: play.api.mvc.RequestHeader, user: models.User)
@for(bot <- bots) {
  @defining(bot.status) { status =>
  <tr>
    <td>@bot.id</td>
    <td>
      <a href="" class="user-link">@bot.descr.title &nbsp;</a>
    </td>
    <td class="text-left">
      @status match {
        case controllers.modules.bots.StatusInStopProcess => { 
          <span class="label label-warning">@Messages("module.instagram.bots.status.instopprocess")</span> 
        }
        case controllers.modules.bots.StatusProcessed => { 
          <span class="label label-success">@Messages("module.instagram.bots.status.processed")</span> 
        }
        case controllers.modules.bots.StatusPaused => {  
          <span class="label label-primary">@Messages("module.instagram.bots.status.paused")</span>
        }
        case controllers.modules.bots.StatusStopped => { 
          <span class="label label-warning">@Messages("module.instagram.bots.status.stopped")</span> 
        } 
        case controllers.modules.bots.StatusReady => { 
          <span class="label label-info">@Messages("module.instagram.bots.status.ready")</span> 
        }
        case controllers.modules.bots.StatusUnknown => { 
          <span class="label label-danger">@Messages("module.instagram.bots.status.unknown")</span> 
        }
      }
    </td>
    <td style="width: 25%;">
      @status match {
      	case controllers.modules.bots.StatusInStopProcess => {
      	  @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotInfo(uid, bot.id), "", "fa-info")
      	  @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "remove"), "danger", "fa-trash-o")    
      	}	
        case controllers.modules.bots.StatusProcessed => {
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotInfo(uid, bot.id), "", "fa-info")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "pause"), "", "fa-pause")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "stop"), "", "fa-stop")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "remove"), "danger", "fa-trash-o")    
        }
        case controllers.modules.bots.StatusPaused => {  
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotInfo(uid, bot.id), "", "fa-info")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "continue"), "", "fa-play")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "stop"), "", "fa-stop")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "remove"), "danger", "fa-trash-o")    
        }
        case controllers.modules.bots.StatusStopped => { 
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotInfo(uid, bot.id), "", "fa-info")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "remove"), "danger", "fa-trash-o")    
        } 
        case controllers.modules.bots.StatusReady => {
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotInfo(uid, bot.id), "", "fa-info")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "start"), "", "fa-play")
          @views.html.utils.button1(controllers.modules.bots.routes.BotModule.userBotAction(uid, bot.id, "remove"), "danger", "fa-trash-o")    
        }
        case controllers.modules.bots.StatusUnknown => { 
        }
      }
    </td>
  </tr>
  }
}


